<style>
  .recommendation-modal__dialog{
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.3), 0px 4px 4px 1px rgba(0, 0, 0, 0.1);
    max-width: 34em;
    position: fixed;
    width: calc(100% - 2em)!important;
    z-index: 1000000;
    border-radius: 5px;
  }
  .recommendation-modal-header {
    display: flex;
    justify-content: flex-end;
}
.recommendation-modal__close-button {
    border: none !important;
    box-shadow: none !important;
    font-size: 16px !important;
    height: auto !important;
    line-height: 1.375 !important;
    min-height: unset !important;
    min-width: unset !important;
    text-align: center !important;
    vertical-align: unset !important;
    width: auto !important;
    background: none !important;
    padding: 0 !important;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}  
  #country-select-recommendation, #main-recommendation {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2.5em 2.5em;
    gap: 1.2em;
  }
  .recommendation-modal__flag {
    padding-top: 12px;
  }
  .main-heading {
    font-weight: normal !important;
    text-transform: none;
    margin: 0 !important;
    text-align: center;
    letter-spacing: normal;
    font-size: 22px !important;
    line-height: 1.3 !important;
}
 .main-heading .user-country{ font-weight: bold !important;}
  .recommendation-modal__benefits {
    width: 100%;
}
  .recommendation-modal__benefits ul {
    margin: 0 !important;
    font-size: 16px;
}
  .recommendation-modal__benefits ul li {
    font-size: 16px !important;
    line-height: 1.4 !important;
    list-style-type: disc;
}
  .recommendation-modal__form {
    margin: 0;
    width: 100%;
}
  .recommendation-modal__button {
    border: none !important;
    box-shadow: none !important;
    font-size: 16px !important;
    height: auto !important;
    line-height: 1.375 !important;
    min-height: unset !important;
    min-width: unset !important;
    text-align: center !important;
    vertical-align: unset !important;
    width: auto !important;
    border: none;
    border-radius: 4px;
    box-shadow: none;
    margin: 0 !important;
    width: 100% !important;
    height: 52px !important;
    font-size: 18px !important;
    box-sizing: border-box !important;
    padding: 0 !important;
}
  .recommendation-modal__message, .recommendation-modal__message--align-start {
        align-self: flex-start;
    font-weight: normal !important;
    text-transform: none;
    margin: 0 !important;
    text-align: center;
    letter-spacing: normal;
    font-size: 22px !important;
    line-height: 1.3 !important;
}
  .recommendation-modal__button--minimal {
    border: none !important;
    box-shadow: none !important;
    font-size: 16px !important;
    height: auto !important;
    line-height: 1.375 !important;
    min-height: unset !important;
    min-width: unset !important;
    text-align: center !important;
    vertical-align: unset !important;
    width: auto !important;
    background: none !important;
    padding: 0 !important;
    text-decoration-line: underline;
    font-size: 14px !important;
}
  .recommendation-modal__selector-wrapper--flag {
    background-image: var(--bg-image);
    background-repeat: no-repeat;
    background-position: 11px center;
    background-size: 25px;
    background-color: #f4f4f4 !important;
    border-radius: 4px !important;
    margin: 0 0 12px 0;
}
   @media (max-width: 490px) {
    .recommendation-modal__dialog {
        max-height: unset!important;
        width: 100%!important;
        height: unset!important;
        left: 50%!important;
        bottom: 0!important;
        top: auto!important;
        transform: translateX(-50%)!important;
        border-radius: 10px!important;
        border-bottom-left-radius: 0!important;
        border-bottom-right-radius: 0!important;
    }
}
  .navigation-megamenu-container img{
    max-width:90%!important;
  }
  .navigation-megamenu [class*=container] {
    transform: scale(0.9);
    transform-origin: top left;
  }
  .localization-container {
    text-align: center;
}

 .localization-container h3 {
    margin-bottom: 5px;
    text-align:left;
}

.select-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    margin-bottom: 1.2em;
}

.recommendation-modal__selector {
    -moz-appearance: none !important;
    -webkit-appearance: none !important;
    appearance: none !important;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSI4IiBoZWlnaHQ9IjUiPjxwYXRoIGZpbGw9IiM2NjYiIGQ9Ik0wIDBzMy40IDQuNCAzLjUgNC40QzMuNyA0LjQgNy4xIDAgNy4xIDBIMHoiLz48L3N2Zz4=) !important;
    background-position: right 10px center !important;
    background-repeat: no-repeat !important;
    background-size: auto !important;
    color: #333 !important;
    cursor: pointer !important;
    display: inline-block !important;
    font-size: 16px !important;
    height: 38px !important;
    line-height: 1.375 !important;
    padding: 0.3em 28px 0.3em 0.5em !important;
    text-indent: 0.01px !important;
    text-overflow: '' !important;
    vertical-align: baseline !important;
    width: 100%;
    max-width: 300px; /* Adjust as needed */
    background-color: rgba(102, 102, 102, 0.10);
    border-radius: 5px 5px 5px 5px;
    border-width: 0px 0px 0px 0px;
    border-color: #20222333;
    border-style: solid;
}
</style>   

<div id="modal-recommendation-popup" class="modal" aria-hidden="true">
  <div class="modal__dialog modal__dialog--mid recommendation-modal__dialog" role="dialog">
    <div class="recommendation-modal-content">
      <div class="recommendation-modal-header">
        <button class="recommendation-modal__close-button" type="button" data-action="close-modal">
          <svg aria-label="Dismiss" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" style="height: 1em; width: 1em;">
            <path d="M11.414 10l6.293-6.293a.999.999 0 1 0-1.414-1.414L10 8.586 3.707 2.293a.999.999 0 1 0-1.414 1.414L8.586 10l-6.293 6.293a.999.999 0 1 0 1.414 1.414L10 11.414l6.293 6.293a.997.997 0 0 0 1.414 0 .999.999 0 0 0 0-1.414L11.414 10z" fill="rgba(119, 128, 135, 1)"></path>
          </svg>
        </button>
      </div>
      <div class="recommendation-modal-body">
        <div id="recommendation-one">
          <div id="main-recommendation">
            <div class="recommendation-modal__flag">
              <img loading="lazy" src="" width="75" height="48" alt="Country Flag">
            </div>
            <p class="main-heading">
              <span data-translate="location-set">Your location is set to </span>
              <span class="user-country"></span>
            </p>
            <div class="recommendation-modal__benefits">
              <ul>
                <li style="color: rgb(119, 128, 135);">
                  <span data-translate="shop-in">Shop in </span>
                  <span class="user-currency-code"></span>
                  <span class="user-currency-symbol"></span>
                </li>
                <li style="color: rgb(119, 128, 135);">
                  <span data-translate="shipping-options">Get shipping options for </span>
                  <span class="user-country"></span>
                </li>
              </ul>
            </div>
            <form id="localization-form" action="/localization" method="POST" class="recommendation-modal__form">
              <input name="_method" type="hidden" value="PUT">
              <input name="source" type="hidden" value="geolocation_recommendation">
              <input name="return_to" type="hidden" value="/">
              <input name="country_code" type="hidden" value="">
            </form> {% if localization.available_countries.size > 1 %} <localization-form>
              <div class="localization-container"> {% form 'localization' %} <div class="select-container">
                  <div class="country-select-container">
                    <h3 data-translate="countries">Countries</h3>
                    <select class="recommendation-modal__selector" name="country_code" id="countrySelect" disabled> {% for country in localization.available_countries %} <option value="{{ country.iso_code }}" data-currency-iso="{{ country.currency.iso_code  }}" {% if country.iso_code == localization.country.iso_code %}selected{% endif %}>
                        {{ country.name }} ({{ country.currency.iso_code }} {{ country.currency.symbol }})
                      </option> {% endfor %} </select>
                  </div>
                  <div class="language-select-container">
                    <h3 data-translate="languages">Languages</h3>
                    <select class="recommendation-modal__selector" name="language_code" id="languageSelect" disabled>
                      <!-- Language options -->
                      <option value="en">English</option>
                      <option value="ar">العربية</option>
                      <option value="zh-CN">中文（简体）</option>
                      <option value="da">Dansk</option>
                      <option value="fr">Français</option>
                      <option value="nl">Nederlands</option>
                      <option value="fi">Suomi</option>
                      <option value="de">Deutsch</option>
                      <option value="el">Ελληνικά</option>
                      <option value="it">Italiano</option>
                      <option value="ja">日本語</option>
                      <option value="ko">한국어</option>
                      <option value="no">Norsk</option>
                      <option value="pl">Polski</option>
                      <option value="pt">Português</option>
                      <option value="ro">Română</option>
                      <option value="es">Español</option>
                      <option value="sv">Svenska</option>
                      <option value="vi">Tiếng Việt</option>
                      <option value="th">ไทย</option>
                      <option value="tr">Türkçe</option>
                      <option value="af">Afrikaans</option>
                      <option value="mn">Монгол</option>
                    </select>
                  </div>
                </div>
                <button id="continue-select-recommendation" class="recommendation-modal__button" type="button" style="background-color: rgb(0, 136, 214); color: rgb(255, 255, 255);margin-top: 1.2em !important;" data-translate="continue">Continue</button> {% endform %}
              </div>
            </localization-form> {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  function setCookie1(name, value, days) {
    var expires = "";
    if (days) {
        var date = new Date();
        date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
        expires = "; expires=" + date.toUTCString();
      }
      document.cookie = name + "=" + (value || "") + expires + "; path=/; domain=.monitors.com";
  }

  function getCookie1(name) {
    var nameEQ = name + "=";
    var ca = document.cookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') c = c.substring(1, c.length);
          if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
      }
      return null;
  }

function redirectBasedOnLanguage() {
    fetch('https://api.ipapi.com/api/check?access_key=e2eec35c0297ea0c9dd6b89d4c1fcf92&output=json')
        .then(response => response.json())
        .then(data => {
            document.querySelectorAll('.user-country').forEach(element => {
                element.textContent = data.country_name;
            });
            document.querySelector('.user-currency-code').textContent = data.currency.code;
            document.querySelector('.user-currency-symbol').textContent = data.currency.symbol == 'Rs' ? '₹' : data.currency.symbol;
            const countryCode = data.country_code.toLowerCase();
            const flagImage = document.querySelector('.recommendation-modal__flag img');
            flagImage.src = `https://cdn.shopify.com/static/images/flags/${countryCode}.svg`;
            document.querySelector('input[name="country_code"]').value = data.country_code;

            // Set the default selected country
            document.querySelector(`select[name="country_code"] option[value="${data.country_code}"]`).selected = true;

            // Store the country code in data-country-fetch attribute in the body tag
            document.body.setAttribute('data-country-fetch', data.country_code);
          })
        .catch(error => {
            console.error('Error fetching country data: ', error);
        });
    const browserLanguage = (navigator.language || navigator.userLanguage).split('-')[0];

    // Assuming translations for each language code
    const languageTranslations = {
        "fr": "FR",
        "de": "DE",
        "it": "IT",
        "ar": "AR",
        "es": "ES",
        "ja": "JA",
        "ko": "KO",
        "vi": "VI",
        "mn": "MN"
        // Add more language to translation mappings as needed
    };

    const lang = languageTranslations[browserLanguage] || "EN";

    document.querySelectorAll('.user-country').forEach(element => {
        element.textContent = browserLanguage;
    });

    const elements = document.querySelectorAll(".recommendation-modal-body");
    if (browserLanguage === "ar") {
        elements.forEach((element) => {
            element.style.direction = "rtl";
        });
    }

    // Set the default language based on browser settings
    const languageOption = document.querySelector(`select[name="language_code"] option[value="${browserLanguage}"]`);
    if (languageOption) {
        languageOption.selected = true;
    } else {
        document.querySelector('select[name="language_code"] option[value="en"]').selected = true;
    }

    // Translate the text based on language
    translateText(lang);

    const currentUrlN = window.location.hostname;
  
     // Use a setTimeout to ensure that the fetch has completed
    const intervalId = setInterval(() => {
        const fetchedCountryCode = document.body.getAttribute('data-country-fetch');
        if (fetchedCountryCode) {
            // Check if the current URL is www.monitors.com and the country is not the United States
            if (currentUrlN === 'www.monitors.com' && fetchedCountryCode !== 'US') {
                if (!hasCheckedPopup()) {
                    const popup = document.getElementById('modal-recommendation-popup');
                    popup.setAttribute('aria-hidden', 'false');
                }
            }
            // Clear the interval once the attribute is set
            clearInterval(intervalId);
        }
    }, 100); 
}

window.addEventListener('load', redirectBasedOnLanguage);

class LocalizationForm extends HTMLElement {
    constructor() {
        super();
        this.elements = {
            countrySelect: this.querySelector('select[name="country_code"]'),
            languageSelect: this.querySelector('select[name="language_code"]'),
            continueButton: this.querySelector('#continue-select-recommendation'),
        };

        this.elements.continueButton.addEventListener('click', this.onContinue.bind(this));
    }

    onContinue(event) {
        const countryCode = this.elements.countrySelect.value;
        const languageCode = this.elements.languageSelect.value;
        const currencyCode = this.elements.countrySelect.options[this.elements.countrySelect.selectedIndex].getAttribute('data-currency-iso');

        const subdomain = this.getSubdomainForLanguage(languageCode);
        const domain = subdomain.toUpperCase();
        // Set cookies for cart_currency and localization
        setCookie1('cart_currency', currencyCode, 7);
        setCookie1('localization', domain, 7);
        if (subdomain) {
            const currentPath = window.location.pathname;
            const currentSearch = window.location.search;

            window.location.href = `https://${subdomain}.monitors.com${currentPath}${currentSearch}?currency=${currencyCode}&localization=${domain}`;
        } else {
            const form = this.querySelector('form');
            if (form) {
                form.submit();
            }
        }
        setCookie1('cstmRcmndPopupSubmitted', 'true', 1);

        if (!hasCheckedPopup()) {
            setCookie('popup_closed', 'true', 14);
        }
        setCookie('country_changed', 'true', 14);
    }

    getSubdomainForLanguage(languageCode) {
        const languageSubdomains = {
            "fr": "fr",
            "ar": "ar",
            "zh-CN":"zh-CN",
            "nl": "nl",
            "fi": "fi",
            "de": "de",
            "el": "el",
            "it": "it",
            "ja": "ja", 
            "ko": "ko",
            "no": "no",
            "pl": "pl",
            "pt": "pt",
            "ro": "ro",
            "es": "es",
            "sv": "sv",
            "vi": "vi",
            "th": "th",
            "tr": "tr",
            "af" : "af",
            "mn" : "mn",
            "en" : "www"
            // Add other language codes and their corresponding subdomains here
        };

        return languageSubdomains[languageCode] || null;
    }
}

customElements.define('localization-form', LocalizationForm);  

function translateText(lang) {
    const translations = {
        "FR": {
            "location-set": "Votre emplacement est défini sur",
            "shop-in": "Acheter en",
            "shipping-options": "Obtenez des options d'expédition pour",
            "countries": "Pays",
            "languages": "Langues",
            "continue": "Continuer"
        },
        "DE": {
            "location-set": "Ihr Standort ist eingestellt auf",
            "shop-in": "Einkaufen in",
            "shipping-options": "Erhalten Sie Versandoptionen für",
            "countries": "Länder",
            "languages": "Sprachen",
            "continue": "Fortsetzen"
        },
        "IT": {
            "location-set": "La tua posizione è impostata su",
            "shop-in": "Acquista in",
            "shipping-options": "Ottieni opzioni di spedizione per",
            "countries": "Paesi",
            "languages": "Lingue",
            "continue": "Continua"
        },
        "AR": {
            "location-set": "تم تعيين موقعك إلى",
            "shop-in": "تسوق في",
            "shipping-options": "احصل على خيارات الشحن لـ",
            "countries": "بلدان",
            "languages": "اللغات",
            "continue": "استمر"
        },
        "ES": {
            "location-set": "Su ubicación está configurada en",
            "shop-in": "Comprar en",
            "shipping-options": "Obtenga opciones de envío para",
            "countries": "Países",
            "languages": "Idiomas",
            "continue": "Continuar"
        },
        "JA": {
            "location-set": "あなたの場所は設定されています",
            "shop-in": "で買い物",
            "shipping-options": "の出荷オプションを取得する",
            "countries": "国",
            "languages": "言語",
            "continue": "続行"
        },
        "KO": {
            "location-set": "귀하의 위치가 설정되었습니다",
            "shop-in": "에서 쇼핑",
            "shipping-options": "배송 옵션 받기",
            "countries": "국가",
            "languages": "언어",
            "continue": "계속하기"
        },
        "VI": {
            "location-set": "Vị trí của bạn được đặt trên",
            "shop-in": "Mua sắm trong",
            "shipping-options": "Nhận tùy chọn vận chuyển cho",
            "countries": "Quốc gia",
            "languages": "Ngôn ngữ",
            "continue": "Tiếp tục"
        },
        "MN": {
            "location-set": "Таны байршил нь тохируулсан байна",
            "shop-in": "дээр худалдан авах",
            "shipping-options": "чөлөөлөгдөх сонголтуудыг авах",
            "countries": "Улс",
            "languages": "Хэл",
            "continue": "Үргэлжлүүлэх"
        }
        // Add more translations as needed
    };

    const elements = document.querySelectorAll("[data-translate]");
    elements.forEach(element => {
        const key = element.getAttribute("data-translate");
        if (translations[lang] && translations[lang][key]) {
            element.textContent = translations[lang][key];
        }
    });
}

function hasCheckedPopup() {
    return document.cookie.split(';').some(cookie => {
        const [name, value] = cookie.split('=');
        return name.trim() === 'popup_closed' && value.trim() === 'true';
    });
}

function setCookie(name, value, days) {
    const date = new Date();
    date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
    const expires = "expires=" + date.toUTCString();
    document.cookie = name + "=" + value + ";" + expires + ";path=/";
}

const closeButton = document.querySelector('.recommendation-modal__close-button');
closeButton.addEventListener('click', function() {
    setCookie('popup_closed', 'true', 14);
    const popup = document.getElementById('modal-recommendation-popup');
    popup.setAttribute('aria-hidden', 'true');
});

const continueButton = document.querySelector('.recommendation-modal__button');
continueButton.addEventListener('click', function() {
    setCookie('popup_closed', 'true', 14);
    const popup = document.getElementById('modal-recommendation-popup');
    popup.setAttribute('aria-hidden', 'true');
});

</script>

<script>
      document.addEventListener('DOMContentLoaded', function() {
          var mainURL = window.location.href;
          if (!mainURL.includes('www.monitors.com')) {
              var defaultCurrencySet = sessionStorage.getItem('defaultCurrencySet');
          }
      
          if (!defaultCurrencySet && !getCookie1('cstmRcmndPopupSubmitted')) {
              var currentURL = window.location.href;
      
              function redirectToCurrencyURL(currencyISO, localization) {
                  sessionStorage.setItem('defaultCurrencySet', 'true');
                  setCookie('cart_currency', currencyISO, 7, '.monitors.com');
                  setCookie('localization', localization, 7, '.monitors.com');
                  var url = new URL(window.location.href);
                  url.searchParams.set('currency', currencyISO);
                  url.searchParams.set('localization', localization);
                  window.location.href = url.href;
              }
      
              function fetchCountryData(callback) {
                  fetch('https://api.ipapi.com/api/check?access_key=e2eec35c0297ea0c9dd6b89d4c1fcf92&output=json')
                      .then(response => response.json())
                      .then(data => {
                          console.log('user-country', data.country_code);
                          callback(data.country_code);
                      })
                      .catch(error => {
                          console.error('Error fetching country data: ', error);
                          callback(null);
                      });
              }
      
              function getLocalizationFromSubdomain(subdomain) {
                  const subdomainToLocalizationMap = {
                      "fr": "FR",
                      "de": "DE",
                      "it": "IT",
                      "es": "ES",
                      "fi": "FI",
                      "el": "EL",
                      "nl": "NL",
                      "pt": "PT",
                      "ar": "AR",
                      "af": "AF",
                      "ko": "KO",
                      "zh-cn": "ZH-CN",
                      "da": "DA",
                      "ja": "JA",
                      "no": "NO",
                      "pl": "PL",
                      "ro": "RO",
                      "sv": "SV",
                      "vi": "VI",
                      "hu": "HU",
                      "th": "TH",
                      "tr": "TR",
                      "mn": "MN"
                  };
                  return subdomainToLocalizationMap[subdomain] || 'EN';
              }
      
              if (currentURL.includes("fr.monitors.com")) {
                  fetchCountryData(function(country) {
                      console.log('country-now', country);
                      if (country === 'CA') {
                          redirectToCurrencyURL("CAD", getLocalizationFromSubdomain('fr'));
                      } else {
                          redirectToCurrencyURL("EUR", getLocalizationFromSubdomain('fr'));
                      }
                  });
              } else if (currentURL.includes("de.monitors.com") || currentURL.includes("it.monitors.com") || currentURL.includes("es.monitors.com") || currentURL.includes("fi.monitors.com") || currentURL.includes("el.monitors.com") || currentURL.includes("nl.monitors.com") || currentURL.includes("pt.monitors.com")) {
                  redirectToCurrencyURL("EUR", getLocalizationFromSubdomain('de'));
              } else if (currentURL.includes("ar.monitors.com")) {
                  fetchCountryData(function(country) {
                      if (country === 'AE') {
                          redirectToCurrencyURL("AED", getLocalizationFromSubdomain('ar'));
                      } else if (country === 'SA') {
                          redirectToCurrencyURL("SAR", getLocalizationFromSubdomain('ar'));
                      } else if (country === 'QA') {
                          redirectToCurrencyURL("QAR", getLocalizationFromSubdomain('ar'));
                      } else {
                          redirectToCurrencyURL("USD", "US");
                      }
                  });
              } else if (currentURL.includes("af.monitors.com")) {
                  redirectToCurrencyURL("ZAR", getLocalizationFromSubdomain('af'));
              } else if (currentURL.includes("ko.monitors.com")) {
                  redirectToCurrencyURL("KRW", getLocalizationFromSubdomain('ko'));
              } else if (currentURL.includes("zh-cn.monitors.com")) {
                  redirectToCurrencyURL("CNY", getLocalizationFromSubdomain('zh-cn'));
              } else if (currentURL.includes("da.monitors.com")) {
                  redirectToCurrencyURL("DKK", getLocalizationFromSubdomain('da'));
              } else if (currentURL.includes("ja.monitors.com")) {
                  redirectToCurrencyURL("JPY", getLocalizationFromSubdomain('ja'));
              } else if (currentURL.includes("no.monitors.com")) {
                  redirectToCurrencyURL("NOK", getLocalizationFromSubdomain('no'));
              } else if (currentURL.includes("pl.monitors.com")) {
                  redirectToCurrencyURL("PLN", getLocalizationFromSubdomain('pl'));
              } else if (currentURL.includes("ro.monitors.com")) {
                  redirectToCurrencyURL("RON", getLocalizationFromSubdomain('ro'));
              } else if (currentURL.includes("sv.monitors.com")) {
                  redirectToCurrencyURL("SEK", getLocalizationFromSubdomain('sv'));
              } else if (currentURL.includes("vi.monitors.com")) {
                  redirectToCurrencyURL("VND", getLocalizationFromSubdomain('vi'));
              } else if (currentURL.includes("hu.monitors.com")) {
                  redirectToCurrencyURL("HUF", getLocalizationFromSubdomain('hu'));
              } else if (currentURL.includes("th.monitors.com")) {
                  redirectToCurrencyURL("THB", getLocalizationFromSubdomain('th'));
              } else if (currentURL.includes("tr.monitors.com")) {
                  redirectToCurrencyURL("TRY", getLocalizationFromSubdomain('tr'));
              } else if (currentURL.includes("mn.monitors.com")) {
                  redirectToCurrencyURL("MNT", getLocalizationFromSubdomain('mn'));
              }
          }
      });
  
</script>  