{% liquid
  assign min_value = min
  assign max_value = max
  assign input_from_selector_id = 'findify-price-range-from'
  assign input_to_selector_id = 'findify-price-range-to'
  assign submit_btn_selector_id = 'findify-price-submit-btn'
  assign form_selector_id = 'findify-price-range-container__' | append: name
%}

<form class="findify-price-range-container" id={{ form_selector_id }}>
  <div class="findify-price-range-content">
    <div class="findify-price-range-input-container">
      <input
        aria-label="{{'findify.filters.min_price' | t }}"
        min="{{ min_value }}"
        max="{{ max_value }}"
        type="number"
        class="findify-price-range-input"
        id="{{ input_from_selector_id }}"
        inputMode="numeric"
        pattern="[0-9]*"
      >
      <span>{{ currency }}</span>
    </div>
    <span>-</span>
    <div class="findify-price-range-input-container">
      <input
        aria-label="{{'findify.filters.max_price' | t }}"
        min="{{ min_value }}"
        max="{{ max_value }}"
        type="number"
        class="findify-price-range-input"
        id="{{ input_to_selector_id }}"
        type="number"
        inputMode="numeric"
        pattern="[0-9]*"
      >
      <span>{{ currency }}</span>
    </div>
  </div>
  <button type='submit' id="{{ submit_btn_selector_id }}">
    {{ 'findify.filters.go' | t }}
  </button>
</form>

<script>
  const rangeSearch = () => {
    const filter_name = '{{ name }}';
    const min_value = '{{ min_value }}';
    const max_value = '{{ max_value }}';

    const input_from_selector_id = '{{ input_from_selector_id }}';
    const input_to_selector_id = '{{ input_to_selector_id }}';
    const form_selector_id = '{{ form_selector_id }}'
    const submit_btn_selector_id = '{{ submit_btn_selector_id }}';

    const fromInputElement = document.getElementById(input_from_selector_id);
    const toInputElement = document.getElementById(input_to_selector_id);
    const formElement = document.getElementById(form_selector_id);
    const submitBtnElement = document.getElementById(submit_btn_selector_id);

    const onSubmitHandler = (e) => {
      e.preventDefault();
      const rate = findify.utils.getShopifyCurrencyRate();
      let from = Math.round(fromInputElement.value / rate)
      let to = Math.round(toInputElement.value / rate)
      if(from <= 0 || to <= 0) return       
      let value;
      if (parseFloat(from) && parseFloat(to)) {
        value = `from|${from}-to|${to}`;
      } else if (parseFloat(from) && !parseFloat(to)) {
        value = `from|${from}`;
      } else if (parseFloat(to) && !parseFloat(from)) {
        value = `to|${to}`;
      }

      if (value) {
        findify.filters.update({ value, type: 'range', name: filter_name });
      }
    };

    formElement.addEventListener('submit', onSubmitHandler);
  };

  rangeSearch();
</script>
