{%- assign mega_menus = section.blocks | map: 'settings' | map: 'menu_item' -%}

<div id="mobile-menu" class="mobile-menu custom-mobile-menu" aria-hidden="true">
  {% comment %}
  {%- render 'icon', icon: 'nav-triangle-borderless' -%}
  {% endcomment %}

  <div class="mobile-menu__inner">
    <div class="mobile-menu__panel">
      <div class="mobile-menu__section">
        <ul class="mobile-menu__nav" data-type="menu">
          <li class="mobile-menu__nav-item lopa"><a href="/collections/monitors" class="mobile-menu__nav-link" data-type="menuitem">Products</a></li>
          {% for block in section.blocks %}
          {% if block.type == 'monitors_menu' %}
          <li class="mobile-menu__nav-item lopa">
            <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-panel-11" data-action="open-panel">
              <div class="menu-icon"><img src="{{block.settings.m_mob_menu_icon | img_url: '' }}" alt="" loading="lazy"></div> <span>{{block.settings.title}}</span> {%- render 'icon', icon: 'arrow-right' -%}
            </button>
          </li>
          {% endif %}
          {% endfor %}
          {% for block in section.blocks %}
          {% if block.type == 'workstations_menu' %}
          <li class="mobile-menu__nav-item lopa">
            <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-panel-12" data-action="open-panel">
              <div class="menu-icon"><img src="{{block.settings.w_mob_menu_icon | img_url: '' }}" alt="" loading="lazy"></div> <span>{{block.settings.title}}</span> {%- render 'icon', icon: 'arrow-right' -%}
            </button>
          </li>
          {% endif %}
          {% endfor %}
          {% for block in section.blocks %}
          {% if block.type == 'crs_menu' %}
          <li class="mobile-menu__nav-item lopa">
            <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-panel-13" data-action="open-panel">
              <div class="menu-icon"><img src="{{block.settings.crs_mob_menu_icon | img_url: '' }}" alt="" loading="lazy"></div> <span>{{block.settings.title}}</span> {%- render 'icon', icon: 'arrow-right' -%}
            </button>
          </li>
          {% endif %}
          {% endfor %}
          {% for block in section.blocks %}
          {% if block.type == 'graphic_menu' %}
          <li class="mobile-menu__nav-item lopa">
            <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-panel-15" data-action="open-panel">
              <div class="menu-icon"><img src="{{block.settings.gc_mob_menu_icon | img_url: '' }}" alt="" loading="lazy"></div> <span>{{block.settings.title}}</span> {%- render 'icon', icon: 'arrow-right' -%}
            </button>
          </li>
          {% endif %}
          {% endfor %}
          {% for block in section.blocks %}
          {% if block.type == 'dictation_menu' %}
          <li class="mobile-menu__nav-item lopa">
            <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-panel-16" data-action="open-panel">
              <div class="menu-icon"><img src="{{block.settings.dm_mob_menu_icon | img_url: '' }}" alt="" loading="lazy"></div> <span>{{block.settings.title}}</span> {%- render 'icon', icon: 'arrow-right' -%}
            </button>
          </li>
          {% endif %}
          {% endfor %}
          {% for block in section.blocks %}
          {% if block.type == 'accessories_menu' %}
          <li class="mobile-menu__nav-item lopa">
            <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-panel-17" data-action="open-panel">
              <div class="menu-icon"><img src="{{block.settings.ac_mob_menu_icon | img_url: '' }}" alt="" loading="lazy"></div> <span>{{block.settings.title}}</span> {%- render 'icon', icon: 'arrow-right' -%}
            </button>
          </li>
          {% endif %}
          {% endfor %}
          {% for block in section.blocks %}
          {% if block.type == 'film_menu' %}
          <li class="mobile-menu__nav-item lopa">
            <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-panel-14" data-action="open-panel">
              <div class="menu-icon"><img src="{{block.settings.fd_mob_menu_icon | img_url: '' }}" alt="" loading="lazy"></div> <span>{{block.settings.title}}</span> {%- render 'icon', icon: 'arrow-right' -%}
            </button>
          </li>
          {% endif %}
          {% endfor %}

          {%- for link in menu.links -%}
            <li class="mobile-menu__nav-item navigation-menu-dynamic">
              {%- if link.links != blank -%}
                {%- capture panel_id -%}mobile-panel-{{ forloop.index0 }}{%- endcapture -%}
                <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="{{ panel_id }}" data-action="open-panel">
                  {{- link.title -}} {%- render 'icon', icon: 'arrow-right' -%}
                </button>
              {%- else -%}
                <a href="{{ link.url }}" class="mobile-menu__nav-link" data-type="menuitem">{{ link.title }}</a>
              {%- endif -%}
            </li>
          {%- endfor -%}
        </ul>
      </div>
      <div class="mobcurr">
        <ul class="mobile-menu__nav" data-type="menu">
          <li class="mobile-menu__nav-item">
            <button class="mobile-menu__nav-link custom-mobile-currency-selector" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-panel-1" data-action="open-panel"> 
              {%- form 'localization', id: 'localization_form_header_currency_mobile_selected' -%}{{ form.current_currency.iso_code }} {% if form.current_currency.symbol %}{{ form.current_currency.symbol }}{% endif %}{%- endform -%} {%- render 'icon', icon: 'arrow-right' -%}
            </button>
          </li>
          <li class="mobile-menu__nav-item">
            <button class="mobile-menu__nav-link custom-mobile-language-selector" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="mobile-panel-2" data-action="open-panel">
              {%- form 'localization', id: 'localization_form_header_locale_mobile_selected' -%}{{ form.current_locale.endonym_name | capitalize }}{%- endform -%} {%- render 'icon', icon: 'arrow-right' -%}
            </button>
          </li> 
        </ul>
      </div>
    </div>

    {%- comment -%}We now need to loop again (for the second level) to create the nested panel{%- endcomment -%}
    {%- for link in menu.links -%}
      {%- if link.links != blank -%}
        {%- capture panel_id -%}mobile-panel-{{ forloop.index0 }}{%- endcapture -%}
        <div id="{{ panel_id }}" class="mobile-menu__panel is-nested">
          <div class="mobile-menu__section is-sticky">
            <button class="mobile-menu__back-button" data-action="close-panel">{% render 'icon', icon: 'arrow-left' %} {{ 'header.navigation.back' | t }}</button>
          </div>
          <div class="mobile-menu__section">
            {%- assign is_mega_menu = false -%}
            {%- assign downcase_title = link.title | downcase | strip -%}
            <ul class="mobile-menu__nav" data-type="menu">
              <li class="mobile-menu__nav-item afa">
                <a href="{{ link.url }}" class="mobile-menu__nav-link text--strong">{{ link.title }}</a>
              </li>
              {%- for sub_link in link.links -%}
              <li class="mobile-menu__nav-item vaww">
                {%- if sub_link.links != blank -%}
                {%- capture panel_id -%}mobile-panel-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}{%- endcapture -%}
                <button class="mobile-menu__nav-link" data-type="menuitem" aria-haspopup="true" aria-expanded="false" aria-controls="{{ panel_id }}" data-action="open-panel">
                  {{- sub_link.title -}} {%- render 'icon', icon: 'arrow-right' -%}
                </button>
                {%- else -%}
                <a href="{{ sub_link.url }}" class="mobile-menu__nav-link" data-type="menuitem">{{ sub_link.title }}</a>
                {%- endif -%}
              </li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      {%- endif -%}
    {%- endfor -%}

    {%- comment -%}Finally we need to do the same to create the third level menus{%- endcomment -%}
    {%- for link in menu.links -%}
      {%- if link.links != blank -%}
        {%- assign downcase_title = link.title | downcase -%}
        {%- unless mega_menus contains downcase_title -%}
          {%- for sub_link in link.links -%}
            {%- if sub_link.links != blank -%}
              {%- capture panel_id -%}mobile-panel-{{ forloop.parentloop.index0 }}-{{ forloop.index0 }}{%- endcapture -%}
              <div id="{{ panel_id }}" class="mobile-menu__panel is-nested 123">
                <div class="mobile-menu__section is-sticky">
                  <button class="mobile-menu__back-button" data-action="close-panel">{% render 'icon', icon: 'arrow-left' %} {{ 'header.navigation.back' | t }}</button>
                </div>
                <div class="mobile-menu__section">
                  <ul class="mobile-menu__nav" data-type="menu">
                    <li class="mobile-menu__nav-item mama">
                      <a href="{{ sub_link.url }}" class="mobile-menu__nav-link text--strong">{{ sub_link.title }}</a>
                    </li>
                    {%- for sub_sub_link in sub_link.links -%}
                      <li class="mobile-menu__nav-item lkoa">
                        <a href="{{ sub_sub_link.url }}" class="mobile-menu__nav-link" data-type="menuitem">{{ sub_sub_link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              </div>
            {%- endif -%}
          {%- endfor -%}
        {%- endunless -%}
      {%- endif -%}
    {%- endfor -%}

    <div id="mobile-panel-1" class="mobile-menu__panel is-nested">
      <div class="mobile-menu__section is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel"><svg class="icon icon--arrow-left" viewBox="0 0 8 12" role="presentation">
          <path stroke="currentColor" stroke-width="2" d="M6 10L2 6l4-4" fill="none" stroke-linecap="square"></path>
          </svg> Back</button>
      </div>
      <div class="mobile-menu__section">
        <ul class="mobile-menu__nav" data-type="menu">
          {%- form 'localization', id: 'localization_form_header_currency_mobile' -%}
          <li class="mobile-menu__nav-item">
            <button type="submit" name="currency_code" class="mobile-menu__nav-link text--strong" value="USD" {% if 'USD' == form.current_currency.iso_code %}aria-current="true"{% endif %}>
              USD $
            </button>
          </li>
           <li class="mobile-menu__nav-item">
            <button type="submit" name="currency_code" class="mobile-menu__nav-link text--strong" value="CAD" {% if 'CAD' == form.current_currency.iso_code %}aria-current="true"{% endif %}>
              CAD $
            </button>
          </li>
           <li class="mobile-menu__nav-item">
            <button type="submit" name="currency_code" class="mobile-menu__nav-link text--strong" value="EUR" {% if 'EUR' == form.current_currency.iso_code %}aria-current="true"{% endif %}>
              EUR €
            </button>
          </li>
           <li class="mobile-menu__nav-item">
            <button type="submit" name="currency_code" class="mobile-menu__nav-link text--strong" value="GBP" {% if 'GBP' == form.current_currency.iso_code %}aria-current="true"{% endif %}>
              GBP £
            </button>
          </li>
          {%- for currency in form.available_currencies reversed -%}
           {% unless currency.iso_code contains 'USD' or currency.iso_code contains 'CAD' or currency.iso_code contains 'EUR' or currency.iso_code contains 'GBP' %}  
            <li class="mobile-menu__nav-item">
              <button type="submit" name="currency_code" class="mobile-menu__nav-link text--strong" value="{{ currency.iso_code }}" {% if currency.iso_code == form.current_currency.iso_code %}aria-current="true"{% endif %}>
                {{ currency.iso_code }} {% if currency.symbol %}{{ currency.symbol }}{% endif %}
              </button>
            </li>
           {% endunless %}
          {%- endfor -%}
          {%- endform -%}
        </ul>
      </div>
    </div>
    <div id="mobile-panel-2" class="mobile-menu__panel is-nested">
      <div class="mobile-menu__section is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel"><svg class="icon icon--arrow-left" viewBox="0 0 8 12" role="presentation">
          <path stroke="currentColor" stroke-width="2" d="M6 10L2 6l4-4" fill="none" stroke-linecap="square"></path>
          </svg> Back</button>
      </div>

      <div class="mobile-menu__section">
        <ul class="mobile-menu__nav" data-type="menu">
           {%- form 'localization', id: 'localization_form_header_locale_mobile' -%}
             <li class="mobile-menu__nav-item">
              <button type="submit" name="locale_code" class="mobile-menu__nav-link text--strong" value="en" {% if 'en' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                English
              </button>
            </li>
            <li class="mobile-menu__nav-item">
              <button type="submit" name="locale_code" class="mobile-menu__nav-link text--strong" value="fr" {% if 'fr' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                Français
              </button>
            </li>
            <li class="mobile-menu__nav-item">
              <button type="submit" name="locale_code" class="mobile-menu__nav-link text--strong" value="es" {% if 'es' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                Español
              </button>
            </li>
            <li class="mobile-menu__nav-item">
              <button type="submit" name="locale_code" class="mobile-menu__nav-link text--strong" value="de" {% if 'de' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                Deutsch
              </button>
            </li>
            <li class="mobile-menu__nav-item">
              <button type="submit" name="locale_code" class="mobile-menu__nav-link text--strong" value="it" {% if 'it' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                Italiano
              </button>
            </li>
          {%- for locale in form.available_locales -%}
            {% unless locale.iso_code contains 'en' or locale.iso_code contains 'fr' or locale.iso_code contains 'es' or locale.iso_code contains 'de' or locale.iso_code contains 'it' %}
              <li class="mobile-menu__nav-item">
                <button type="submit" name="locale_code" class="mobile-menu__nav-link text--strong" value="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                  {{- locale.endonym_name | capitalize -}}
                </button>
              </li>
            {% endunless %}
          {%- endfor %}
        {% endform %}
        </ul>
      </div>
    </div>

    <div id="mobile-panel-11" class="mobile-menu__panel is-nested monitor-menu">
      {% for block in section.blocks %}
      {% if block.type == 'monitors_menu' %}
      <div class="mobile-menu__section is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">
          {%- render 'icon', icon: 'arrow-left' -%} <img src="{{block.settings.m_mob_menu_wht_icon | img_url: '' }}" alt="" loading="lazy"> {{block.settings.title}}
        </button>
        <span><a href="{{block.settings.m_menu_link}}">View All</a></span>
      </div>
      <div class="mobile-menu__section monitor">
        <div class="shop_catitems">
          <div class="top_txt">
            <h3>{{block.settings.m_section_title}}</h3>
          </div>
          <ul class="cat-items">
            {% if block.settings.m_cat_label1 != blank %}
            <li class="cat-item">
              <a href="{{ '/collections/general-radiology-pacs-displays' }}" class="df fww">
                <div class="cat-item-img">
                  {% comment %}<img onerror="console.log('mobile menu image load error, line : 241');" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-sizes="auto" data-widths="[{{ supported_sizes }}]" data-src="{{block.settings.m_cat_mob_icon1 | img_url: '' }}" alt="">{% endcomment %}
                  {{- block.settings.m_cat_mob_icon1 | image_url: width: block.settings.m_cat_mob_icon1.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.m_cat_label1}}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.m_cat_label2 != blank %}
            <li class="cat-item">
              <a href="{{ '/collections/digital-mammography-tomo-pacs-displays' }}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.m_cat_mob_icon2 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.m_cat_mob_icon2 | image_url: width: block.settings.m_cat_mob_icon2.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.m_cat_label2}}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.m_cat_label3 != blank %}
            <li class="cat-item">
              <a href="{{ '/collections/clinical-review-displays' }}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.m_cat_mob_icon3 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.m_cat_mob_icon3 | image_url: width: block.settings.m_cat_mob_icon3.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.m_cat_label3}}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.m_cat_label6 != blank %}
            <li class="cat-item">
              <a href="{{ '/collections/pathology-displays' }}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.m_cat_mob_icon3 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.m_cat_mob_icon6 | image_url: width: block.settings.m_cat_mob_icon6.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{ block.settings.m_cat_label6 | replace: '<br>', '' }}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.m_cat_label4 != blank %}
            <li class="cat-item">
              <a href="{{ '/collections/surgical-displays' }}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.m_cat_mob_icon4 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.m_cat_mob_icon4 | image_url: width: block.settings.m_cat_mob_icon4.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{ block.settings.m_cat_label4 | replace: '<br>', '' }}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.m_cat_label5 != blank %}
            <li class="cat-item">
              <a href="{{ '/collections/professional-displays' }}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.m_cat_mob_icon5 | img_url: '' }}" alt=""> {% endcomment %}
                 {{- block.settings.m_cat_mob_icon5 | image_url: width: block.settings.m_cat_mob_icon5.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.m_cat_label5}}</label>
              </a>
            </li>
            {% endif %}
          </ul>
          {% if block.settings.m_view_all_label != blank %}
          <h2><a href="{{block.settings.m_view_all_link}}">{{block.settings.m_view_all_label}} &nbsp;{%- render 'icon', icon: 'arrow-right' -%}</a></h2>
          {% endif %}
        </div>
        <div class="resolutions">
          <div class="top_txt">
            <h3>{{block.settings.m_size_sec_cat_label1}}</h3>
          </div>
          <div class="resolutions">
            <ul class="size-resolutions">
              {% if block.settings.m_size_item_label1 !=blank and block.settings.m_size_item_url1 != blank %}
              <li class="{% if block.settings.m_size_show_ribbons1 %}riban{% endif %}"><a href="{{block.settings.m_size_item_url1}}">{{block.settings.m_size_item_label1}}</a></li>
              {% endif %}
              {% if block.settings.m_size_item_label2 !=blank and block.settings.m_size_item_url2 != blank %}
              <li class="{% if block.settings.m_size_show_ribbons2 %}riban{% endif %}"><a href="{{block.settings.m_size_item_url2}}">{{block.settings.m_size_item_label2}}</a></li>
              {% endif %}
              {% if block.settings.m_size_item_label3 !=blank and block.settings.m_size_item_url3 != blank %}
              <li class="{% if block.settings.m_size_show_ribbons3 %}riban{% endif %}"><a href="{{block.settings.m_size_item_url3}}">{{block.settings.m_size_item_label3}}</a></li>
              {% endif %}
              {% if block.settings.m_size_item_label4 !=blank and block.settings.m_size_item_url4 != blank %}
              <li class="{% if block.settings.m_size_show_ribbons4 %}riban{% endif %}"><a href="{{block.settings.m_size_item_url4}}">{{block.settings.m_size_item_label4}}</a></li>
              {% endif %}
              {% if block.settings.m_size_item_label5 !=blank and block.settings.m_size_item_url5 != blank %}
              <li class="{% if block.settings.m_size_show_ribbons5 %}riban{% endif %}"><a href="{{block.settings.m_size_item_url5}}">{{block.settings.m_size_item_label5}}</a></li>
              {% endif %}
              {% if block.settings.m_size_item_label6 !=blank and block.settings.m_size_item_url6 != blank %}
              <li class="{% if block.settings.m_size_show_ribbons6 %}riban{% endif %}"><a href="{{block.settings.m_size_item_url6}}">{{block.settings.m_size_item_label6}}</a></li>
              {% endif %}
              {% if block.settings.m_size_item_label7 !=blank and block.settings.m_size_item_url7 != blank %}
              <li class="{% if block.settings.m_size_show_ribbons7 %}riban{% endif %}"><a href="{{block.settings.m_size_item_url7}}">{{block.settings.m_size_item_label7}}</a></li>
              {% endif %}
              {% if block.settings.m_size_item_label8 !=blank and block.settings.m_size_item_url8 != blank %}
              <li class="{% if block.settings.m_size_show_ribbons8 %}riban{% endif %}"><a href="{{block.settings.m_size_item_url8}}">{{block.settings.m_size_item_label8}}</a></li>
              {% endif %}
              {% if block.settings.m_size_item_label9 !=blank and block.settings.m_size_item_url9 != blank %}
              <li class="{% if block.settings.m_size_show_ribbons9 %}riban{% endif %}"><a href="{{block.settings.m_size_item_url9}}">{{block.settings.m_size_item_label9}}</a></li>
              {% endif %}
            </ul>
          </div>
        </div>
        <div class="shop_manufacture">
          {% if block.settings.m_manufa_sec_title != blank %}
          <div class="top_txt">
            <h3>{{ block.settings.m_manufa_sec_title }}</h3>
          </div>
          {% endif %}
          <ul class="cat-items">
            {% if block.settings.m_manufa_name1 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.m_manufa_url1 }}">{{ block.settings.m_manufa_name1 }}</a>
            </li>
            {% endif %}
            {% if block.settings.m_manufa_name2 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.m_manufa_url2 }}">{{ block.settings.m_manufa_name2 }}</a>
            </li>
            {% endif %}
            {% if block.settings.m_manufa_name3 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.m_manufa_url3 }}">{{ block.settings.m_manufa_name3 }}</a>
            </li>
            {% endif %}
            {% if block.settings.m_manufa_name4 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.m_manufa_url4 }}">{{ block.settings.m_manufa_name4 }}</a>
            </li>
            {% endif %}
          </ul>
        </div>
        <div class="feature_products">
          <div class="top_txt">
            <h3>Popular Monitors</h3>
          </div>
          <ul class="feature-items df fww">
            {%- assign product = all_products[block.settings.m_featured_products1] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width: product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %}  <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
			{%- assign product = all_products[block.settings.m_featured_products2] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width: product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %}  <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% if block.settings.m_left_img != blank %}
        <div class="limitseal">
          <a href="{{block.settings.m_left_img_url}}">
            {% comment %} <img class="catnavitemfig" src="{{block.settings.m_left_img | img_url: 'large' }}" alt=""> {% endcomment %}
            {{- block.settings.m_left_img | image_url: width: block.settings.m_left_img.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div id="mobile-panel-12" class="mobile-menu__panel is-nested workstations-menu">
      {% for block in section.blocks %}
      {% if block.type == 'workstations_menu' %}
      <div class="mobile-menu__section is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">
          {%- render 'icon', icon: 'arrow-left' -%} <img src="{{block.settings.w_mob_menu_wht_icon | img_url: '' }}" alt="" loading="lazy"> {{block.settings.title}}
        </button>
        <span><a href="{{block.settings.w_menu_link}}">View All</a></span>
      </div>
      <div class="mobile-menu__section workstations">
        <div class="shop_manufacture">
          {% if block.settings.w_manufa_sec_title != blank %}
          <div class="top_txt">
            <h3>{{ block.settings.w_manufa_sec_title }}</h3>
          </div>
          {% endif %}
          <ul class="cat-items">
            {% if block.settings.w_manufa_name1 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.w_manufa_url1 }}">{{ block.settings.w_manufa_name1 }}</a>
            </li>
            {% endif %}
            {% if block.settings.w_manufa_name2 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.w_manufa_url2 }}">{{ block.settings.w_manufa_name2 }}</a>
            </li>
            {% endif %}
            {% if block.settings.w_manufa_name3 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.w_manufa_url3 }}">{{ block.settings.w_manufa_name3 }}</a>
            </li>
            {% endif %}
            {% if block.settings.w_manufa_name4 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.w_manufa_url4 }}">{{ block.settings.w_manufa_name4 }}</a>
            </li>
            {% endif %}
          </ul>
          {% if block.settings.w_manufa_viewall_label != blank %}
          <h2><a href="{{ block.settings.w_manufa_viewall_link }}">{{ block.settings.w_manufa_viewall_label }} &nbsp;{%- render 'icon', icon: 'arrow-right' -%}</a></h2>
          {% endif %}
        </div>
        <div class="feature_products">
          <div class="top_txt">
            <h3>Popular Workstations</h3>
          </div>
          <ul class="feature-items df fww">
            {%- assign product = all_products[block.settings.w_featured_products1] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {%- assign product = all_products[block.settings.w_featured_products2] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {%- assign product = all_products[block.settings.w_featured_products3] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %}  <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {%- assign product = all_products[block.settings.w_featured_products4] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% if block.settings.w_left_img != blank %}
        <div class="limitseal">
          <a href="{{block.settings.w_left_img_url}}">
            {% comment %} <img class="catnavitemfig" src="{{block.settings.w_left_img | img_url: 'large' }}" alt=""> {% endcomment %}
            {{- block.settings.w_left_img | image_url: width:block.settings.w_left_img.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div id="mobile-panel-13" class="mobile-menu__panel is-nested crs-menu">
      {% for block in section.blocks %}
      {% if block.type == 'crs_menu' %}
      <div class="mobile-menu__section is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">
          {%- render 'icon', icon: 'arrow-left' -%} <img src="{{block.settings.crs_mob_menu_wht_icon | img_url: '' }}" alt="" loading="lazy"> {{block.settings.title}}
        </button>
        <span><a href="{{block.settings.crs_menu_link}}">View All</a></span>
      </div>
      <div class="mobile-menu__section complete-reading-stations">
        <div class="shop_catitems">
          <div class="top_txt">
            <h3>{{block.settings.crs_cat_sec_title}}</h3>
          </div>
          <ul class="cat-items">
            <li class="cat-item">
              <a href="{{block.settings.crs_cat_url1}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.crs_cat_img1 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.crs_cat_img1 | image_url: width:block.settings.crs_cat_img1.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.crs_cat_name1}}</label>
              </a>
            </li>
            <li class="cat-item">
              <a href="{{block.settings.crs_cat_url2}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.crs_cat_img2 | img_url: '' }}" alt=""> {% endcomment %}
                   {{- block.settings.crs_cat_img2 | image_url: width:block.settings.crs_cat_img2.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.crs_cat_name2}}</label>
              </a>
            </li>
          </ul>
          {% if block.settings.crs_cat_viewall_label != blank %}
          <h2><a href="{{block.settings.crs_cat_viewall_link}}">{{block.settings.crs_cat_viewall_label}} &nbsp;{%- render 'icon', icon: 'arrow-right' -%}</a></h2>
          {% endif %}
        </div>
        <div class="feature_products_full">
          <div class="top_txt">
            <h3>Popular Complete Reading Stations</h3>
          </div>
           <ul class="feature-items df fww">
            {%- assign product = all_products[block.settings.crs_product1] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src .width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {%- assign product = all_products[block.settings.crs_product2] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src .width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
          </ul> 
        </div>
        {% if block.settings.crs_left_img != blank %}
        <div class="limitseal">
          <a href="{{block.settings.crs_left_img_url}}">
            {% comment %} <img class="catnavitemfig" src="{{block.settings.crs_left_img | img_url: 'large' }}" alt=""> {% endcomment %}
            {{- block.settings.crs_left_img | image_url: width:block.settings.crs_left_img.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div id="mobile-panel-14" class="mobile-menu__panel is-nested film-menu">
      {% for block in section.blocks %}
      {% if block.type == 'film_menu' %}
      <div class="mobile-menu__section is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">
          {%- render 'icon', icon: 'arrow-left' -%} <img src="{{block.settings.fd_mob_menu_wht_icon | img_url: '' }}" alt="" loading="lazy"> {{block.settings.title}}
        </button>
        <span><a href="{{block.settings.fd_menu_link}}">View All</a></span>
      </div>
      <div class="mobile-menu__section film">
        <div class="feature_products">
          <div class="top_txt">
            <h3>{{block.settings.fd_digitizer_section_title}}</h3>
          </div>
          <ul class="feature-items df fww">
            {% if block.settings.fd_digitizer1_title != blank %}
            <li class="fet-item">
              <a href="{{block.settings.fd_digitizer1_url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{block.settings.fd_digitizer1_image | img_url: '' }}" alt="" class=""> {% endcomment %}
                  {{- block.settings.fd_digitizer1_image | image_url: width:block.settings.fd_digitizer1_image.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{block.settings.fd_digitizer1_title}}</p>
                  {%- assign product = all_products[block.settings.fd_digitizer_product1] -%}   
                  {% for variant in product.variants %}
                   <div class="pricing {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}discounted{% endif %}">
                    {% if variant.available == true %}
                     {% if variant.title contains 'Renewed / PacsGear' %}
                       {% render 'new-currency-format', price : variant.price, cart : cart, template : template, product: product, menu : 'yes' %}
                       {% comment %}  <p class="nav-price">{{ variant.price | money_without_trailing_zeros }}</p> {% endcomment %}
                      {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}
                       <del class="nav-compare-price">{{ variant.compare_at_price | money_without_trailing_zeros }}</del>
                       <span class="btn nav-save-price">Save {{ variant.compare_at_price | minus: variant.price | money_without_trailing_zeros }}</span> 
                      {% endif %}
                     {% endif %}
                    {% endif %} 
                   </div>
                  {% endfor %}
                </div>
              </a>
            </li>
            {% endif %}
            {% if block.settings.fd_digitizer2_title != blank %}
            <li class="fet-item">
              <a href="{{block.settings.fd_digitizer2_url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{block.settings.fd_digitizer2_image | img_url: '' }}" alt="" class=""> {% endcomment %}
                  {{- block.settings.fd_digitizer2_image | image_url: width:block.settings.fd_digitizer2_image.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{block.settings.fd_digitizer2_title}}</p>
                  {%- assign product = all_products[block.settings.fd_digitizer_product2] -%}   
                  {% for variant in product.variants %}
                   <div class="pricing {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}discounted{% endif %}">
                    {% if variant.available == true %}
                     {% if variant.title contains 'Renewed / PacsGear' %}
                        {% render 'new-currency-format', price : variant.price, cart : cart, template : template, product: product, menu : 'yes' %}
                        {% comment %}  <p class="nav-price">{{ variant.price | money_without_trailing_zeros }}</p> {% endcomment %}
                      {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}
                       <del class="nav-compare-price">{{ variant.compare_at_price | money_without_trailing_zeros }}</del>
                       <span class="btn nav-save-price">Save {{ variant.compare_at_price | minus: variant.price | money_without_trailing_zeros }}</span> 
                      {% endif %}
                     {% endif %}
                    {% endif %} 
                   </div>
                  {% endfor %}
                </div>
              </a>
            </li>
            {% endif %}
            {% if block.settings.fd_digitizer3_title != blank %}
            <li class="fet-item">
              <a href="{{block.settings.fd_digitizer3_url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{block.settings.fd_digitizer3_image | img_url: '' }}" alt="" class=""> {% endcomment %}
                  {{- block.settings.fd_digitizer3_image | image_url: width:block.settings.fd_digitizer3_image.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{block.settings.fd_digitizer3_title}}</p>
                  {%- assign product = all_products[block.settings.fd_digitizer_product3] -%}   
                  {% for variant in product.variants %}
                   <div class="pricing {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}discounted{% endif %}">
                    {% if variant.available == true %}
                     {% if variant.title contains 'Renewed / PacsGear' %}
                        {% render 'new-currency-format', price : variant.price, cart : cart, template : template, product: product, menu : 'yes' %}
                        {% comment %}  <p class="nav-price">{{ variant.price | money_without_trailing_zeros }}</p> {% endcomment %}
                      {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}
                       <del class="nav-compare-price">{{ variant.compare_at_price | money_without_trailing_zeros }}</del>
                       <span class="btn nav-save-price">Save {{ variant.compare_at_price | minus: variant.price | money_without_trailing_zeros }}</span> 
                      {% endif %}
                     {% endif %}
                    {% endif %} 
                   </div>
                  {% endfor %}
                </div>
              </a>
            </li>
            {% endif %}
          </ul>
          <h2><a href="{{block.settings.fd_digitizer_section_url}}">View All {{block.settings.fd_digitizer_section_title}} &nbsp;{%- render 'icon', icon: 'arrow-right' -%}</a></h2>
          <div class="top_txt">
            <h3>{{block.settings.fd_standalone_section_title}}</h3>
          </div>
          <ul class="feature-items df fww">
            {% if block.settings.fd_standalone1_title != blank %}
            <li class="fet-item">
              <a href="{{block.settings.fd_standalone1_url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{block.settings.fd_standalone1_image | img_url: '' }}" alt="" class=""> {% endcomment %}
                  {{- block.settings.fd_standalone1_image | image_url: width:block.settings.fd_standalone1_image.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{block.settings.fd_standalone1_title}}</p>
                  {%- assign product = all_products[block.settings.fd_standalone_product1] -%}   
                  {% for variant in product.variants %}
                   <div class="pricing {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}discounted{% endif %}">
                    {% if variant.available == true %}
                     {% if variant.title contains 'Renewed / None' %}
                        {% render 'new-currency-format', price : variant.price, cart : cart, template : template, product: product, menu : 'yes' %}
                        {% comment %}  <p class="nav-price">{{ variant.price | money_without_trailing_zeros }}</p> {% endcomment %}
                      {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}
                       <del class="nav-compare-price">{{ variant.compare_at_price | money_without_trailing_zeros }}</del>
                       <span class="btn nav-save-price">Save {{ variant.compare_at_price | minus: variant.price | money_without_trailing_zeros }}</span> 
                      {% endif %}
                     {% endif %}
                    {% endif %} 
                   </div>
                  {% endfor %}
                </div>
              </a>
            </li>
            {% endif %}
            {% if block.settings.fd_standalone2_title != blank %}
            <li class="fet-item">
              <a href="{{block.settings.fd_standalone2_url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{block.settings.fd_standalone2_image | img_url: '' }}" alt="" class=""> {% endcomment %}
                  {{- block.settings.fd_standalone2_image | image_url: width:block.settings.fd_standalone2_image.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{block.settings.fd_standalone2_title}}</p>
                  {%- assign product = all_products[block.settings.fd_standalone_product2] -%}   
                  {% for variant in product.variants %}
                   <div class="pricing {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}discounted{% endif %}">
                    {% if variant.available == true %}
                     {% if variant.title contains 'Renewed / None' %}
                       {% render 'new-currency-format', price : variant.price, cart : cart, template : template, product: product, menu : 'yes' %}
                        {% comment %}  <p class="nav-price">{{ variant.price | money_without_trailing_zeros }}</p> {% endcomment %}
                      {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}
                       <del class="nav-compare-price">{{ variant.compare_at_price | money_without_trailing_zeros }}</del>
                       <span class="btn nav-save-price">Save {{ variant.compare_at_price | minus: variant.price | money_without_trailing_zeros }}</span> 
                      {% endif %}
                     {% endif %}
                    {% endif %} 
                   </div>
                  {% endfor %}
                </div>
              </a>
            </li>
            {% endif %}
            {% if block.settings.fd_standalone3_title != blank %}
            <li class="fet-item">
              <a href="{{block.settings.fd_standalone3_url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{block.settings.fd_standalone3_image | img_url: '' }}" alt="" class=""> {% endcomment %}
                  {{- block.settings.fd_standalone3_image | image_url: width:block.settings.fd_standalone3_image.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{block.settings.fd_standalone3_title}}</p>
                  {%- assign product = all_products[block.settings.fd_standalone_product3] -%}   
                  {% for variant in product.variants %}
                   <div class="pricing {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}discounted{% endif %}">
                    {% if variant.available == true %}
                     {% if variant.title contains 'Renewed / None' %}
                       {% render 'new-currency-format', price : variant.price, cart : cart, template : template, product: product, menu : 'yes' %}
                        {% comment %}  <p class="nav-price">{{ variant.price | money_without_trailing_zeros }}</p> {% endcomment %}
                      {% if variant.price != variant.compare_at_price and variant.price < variant.compare_at_price %}
                       <del class="nav-compare-price">{{ variant.compare_at_price | money_without_trailing_zeros }}</del>
                       <span class="btn nav-save-price">Save {{ variant.compare_at_price | minus: variant.price | money_without_trailing_zeros }}</span> 
                      {% endif %}
                     {% endif %}
                    {% endif %} 
                   </div>
                  {% endfor %}
                </div>
              </a>
            </li>
            {% endif %}
          </ul>
          <h2><a href="{{block.settings.fd_standalone_section_url}}">View All {{block.settings.fd_standalone_section_title}} &nbsp;{%- render 'icon', icon: 'arrow-right' -%}</a></h2>
        </div>
        <div class="service-section">
          <div class="top_txt">
            <h3>{{block.settings.fd_service_section_title}}</h3>
          </div>
          <div class="service-itembox df fww">
            {% if block.settings.service_label1 != blank %}
            <div class="service-item df fww">
              <div class="serve-itemimg">
                {% comment %} <img src="{{block.settings.service_icon1 | img_url: '' }}" alt=""> {% endcomment %}
                {{- block.settings.service_icon1 | image_url: width:block.settings.service_icon1.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
              </div>
              <a href="{{block.settings.service_url1}}"><p>{{block.settings.service_label1}}</p></a>
            </div>
            {% endif %}
            {% if block.settings.service_label1 != blank %}
            <div class="service-item df fww">
              <div class="serve-itemimg">
                {% comment %} <img src="{{block.settings.service_icon2 | img_url: '' }}" alt=""> {% endcomment %}
                {{- block.settings.service_icon2 | image_url: width:block.settings.service_icon2.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
              </div>
              <a href="{{block.settings.service_url2}}"><p>{{block.settings.service_label2}}</p></a>
            </div>
            {% endif %}
          </div>
        </div>
        {% if block.settings.fd_left_img != blank %}
        <div class="limitseal">
          <a href="{{block.settings.fd_left_img_url}}">
            {% comment %} <img class="catnavitemfig" src="{{block.settings.fd_left_img | img_url: 'large' }}" alt=""> {% endcomment %}
            {{- block.settings.fd_left_img | image_url: width:block.settings.fd_left_img.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div id="mobile-panel-15" class="mobile-menu__panel is-nested graphic-menu">
      {% for block in section.blocks %}
      {% if block.type == 'graphic_menu' %}
      <div class="mobile-menu__section is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">
          {%- render 'icon', icon: 'arrow-left' -%} <img src="{{block.settings.gc_mob_menu_wht_icon | img_url: '' }}" alt="" loading="lazy"> {{block.settings.title}}
        </button>
        <span><a href="{{block.settings.gc_menu_link}}">View All</a></span>
      </div>
      <div class="mobile-menu__section graphic">
        <div class="shop_manufacture">
          {% if block.settings.gc_cat_sec_title != blank %}
          <div class="top_txt">
            <h3>{{ block.settings.gc_cat_sec_title }}</h3>
          </div>
          {% endif %}
          <ul class="cat-items">
            {% if block.settings.gc_cat_name1 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.gc_cat_url1 }}">{{ block.settings.gc_cat_name1 }}</a>
            </li>
            {% endif %}
            {% if block.settings.gc_cat_name2 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.gc_cat_url2 }}">{{ block.settings.gc_cat_name2 }}</a>
            </li>
            {% endif %}
            {% if block.settings.gc_cat_name3 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.gc_cat_url3 }}">{{ block.settings.gc_cat_name3 }}</a>
            </li>
            {% endif %}
            {% if block.settings.gc_cat_name4 != blank %}
            <li class="cat-item">
              <a href="{{ block.settings.gc_cat_url4 }}">{{ block.settings.gc_cat_name4 }}</a>
            </li>
            {% endif %}
          </ul>
          {% if block.settings.gc_cat_viewall_label != blank %}
          <h2><a href="{{block.settings.gc_cat_viewall_link}}">{{block.settings.gc_cat_viewall_label}} &nbsp;{%- render 'icon', icon: 'arrow-right' -%}</a></h2>
          {% endif %}
        </div>
        <div class="feature_products">
          <div class="top_txt">
            <h3>Popular Graphics Cards</h3>
          </div>
          <ul class="feature-items df fww">
            {%- assign product = all_products[block.settings.gc_featured_products1] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src .width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {%- assign product = all_products[block.settings.gc_featured_products2] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src .width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                    {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                    {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {%- assign product = all_products[block.settings.gc_featured_products3] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src .width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                     {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                     {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% if block.settings.gc_left_img != blank %}
        <div class="limitseal">
          <a href="{{block.settings.gc_left_img_url}}">
            {% comment %} <img class="catnavitemfig" src="{{block.settings.gc_left_img | img_url: 'large' }}" alt=""> {% endcomment %}
            {{- block.settings.gc_left_img | image_url: width:block.settings.gc_left_img.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div id="mobile-panel-16" class="mobile-menu__panel is-nested dictation-mics-menu">
      {% for block in section.blocks %}
      {% if block.type == 'dictation_menu' %}
      <div class="mobile-menu__section is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">
          {%- render 'icon', icon: 'arrow-left' -%} <img src="{{block.settings.dm_mob_menu_wht_icon | img_url: '' }}" alt="" loading="lazy"> {{block.settings.title}}
        </button>
        <span><a href="{{block.settings.dm_menu_link}}">View All</a></span>
      </div>
      <div class="mobile-menu__section dictation-mics">
        <div class="shop_catitems">
          <div class="top_txt">
            <h3>{{block.settings.dm_section_title}}</h3>
          </div>
          <ul class="cat-items">
            <li class="cat-item">
              <a href="{{block.settings.dm_cat_url1}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.dm_cat_mob_icon1 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.dm_cat_mob_icon1 | image_url: width:block.settings.dm_cat_mob_icon1.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.dm_cat_label1}}</label>
              </a>
            </li>
            <li class="cat-item">
              <a href="{{block.settings.dm_cat_url2}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.dm_cat_mob_icon2 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.dm_cat_mob_icon2 | image_url: width:block.settings.dm_cat_mob_icon2.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.dm_cat_label2}}</label>
              </a>
            </li>
            <li class="cat-item">
              <a href="{{block.settings.dm_cat_url3}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.dm_cat_mob_icon3 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.dm_cat_mob_icon3 | image_url: width:block.settings.dm_cat_mob_icon3.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.dm_cat_label3}}</label>
              </a>
            </li>
            <li class="cat-item">
              <a href="{{block.settings.dm_cat_url4}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.dm_cat_mob_icon4 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.dm_cat_mob_icon4 | image_url: width:block.settings.dm_cat_mob_icon4.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.dm_cat_label4}}</label>
              </a>
            </li>
          </ul>
          <h2><a href="{{block.settings.dm_view_all_link}}">{{block.settings.dm_view_all_label}} &nbsp;{%- render 'icon', icon: 'arrow-right' -%}</a></h2>
        </div>
        <div class="feature_products">
          <div class="top_txt">
            <h3>Popular Dictation Mics</h3>
          </div>
          <ul class="feature-items df fww">
            {%- assign product = all_products[block.settings.dm_featured_products1] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                     {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                     {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {%- assign product = all_products[block.settings.dm_featured_products2] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                     {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                     {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% if block.settings.dm_left_img != blank %}
        <div class="limitseal">
          <a href="{{block.settings.dm_left_img_url}}">
            {% comment %} <img class="catnavitemfig" src="{{block.settings.dm_left_img | img_url: 'large' }}" alt=""> {% endcomment %}
            {{- block.settings.dm_left_img | image_url: width:block.settings.dm_left_img.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <div id="mobile-panel-17" class="mobile-menu__panel is-nested accessories-menu">
      {% for block in section.blocks %}
      {% if block.type == 'accessories_menu' %}
      <div class="mobile-menu__section is-sticky">
        <button class="mobile-menu__back-button" data-action="close-panel">
          {%- render 'icon', icon: 'arrow-left' -%} <img src="{{block.settings.ac_mob_menu_wht_icon | img_url: '' }}" alt="" loading="lazy"> {{block.settings.title}}
        </button>
        <span><a href="{{block.settings.ac_menu_link}}">View All</a></span>
      </div>
      <div class="mobile-menu__section accessories">
        <div class="shop_catitems">
          <div class="top_txt">
            <h3>{{block.settings.ac_section_title}}</h3>
          </div>
          <ul class="cat-items">
            {% if block.settings.ac_cat_label1 != blank %}
            <li class="cat-item">
              <a href="{{block.settings.ac_cat_url1}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.ac_cat_mob_icon1 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.ac_cat_mob_icon1 | image_url: width:block.settings.ac_cat_mob_icon1.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.ac_cat_label1}}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.ac_cat_label2 != blank %}
            <li class="cat-item">
              <a href="{{block.settings.ac_cat_url2}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.ac_cat_mob_icon2 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.ac_cat_mob_icon2 | image_url: width:block.settings.ac_cat_mob_icon2.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.ac_cat_label2}}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.ac_cat_label3 != blank %}
            <li class="cat-item">
              <a href="{{block.settings.ac_cat_url3}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.ac_cat_mob_icon3 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.ac_cat_mob_icon3 | image_url: width:block.settings.ac_cat_mob_icon3.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.ac_cat_label3}}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.ac_cat_label4 != blank %}
            <li class="cat-item">
              <a href="{{block.settings.ac_cat_url4}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.ac_cat_mob_icon4 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.ac_cat_mob_icon4 | image_url: width:block.settings.ac_cat_mob_icon4.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.ac_cat_label4}}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.ac_cat_label5 != blank %}
            <li class="cat-item">
              <a href="{{block.settings.ac_cat_url5}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.ac_cat_mob_icon5 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.ac_cat_mob_icon5 | image_url: width:block.settings.ac_cat_mob_icon5.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.ac_cat_label5}}</label>
              </a>
            </li>
            {% endif %}
            {% if block.settings.ac_cat_label6 != blank %}
            <li class="cat-item">
              <a href="{{block.settings.ac_cat_url6}}" class="df fww">
                <div class="cat-item-img">
                  {% comment %} <img class="" src="{{block.settings.ac_cat_mob_icon6 | img_url: '' }}" alt=""> {% endcomment %}
                  {{- block.settings.ac_cat_mob_icon6 | image_url: width:block.settings.ac_cat_mob_icon6.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <label for="">{{block.settings.ac_cat_label6}}</label>
              </a>
            </li>
            {% endif %}
          </ul>
          <h2><a href="{{block.settings.ac_view_all_link}}">{{block.settings.ac_view_all_label}} &nbsp;{%- render 'icon', icon: 'arrow-right' -%}</a></h2>
        </div>
        <div class="feature_products">
          <div class="top_txt">
            <h3>{{ block.settings.ac_feat_sec_title }}</h3>
          </div>
          <ul class="feature-items df fww">
            {%- assign product = all_products[block.settings.ac_featured_products1] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                     {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                     {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
            {%- assign product = all_products[block.settings.ac_featured_products2] -%}
            {% if product != blank %}
            <li class="fet-item">
              <a href="{{product.url}}" class="df fww">
                <div class="fetitem-img">
                  {% comment %} <img src="{{ product.featured_image.src | img_url: 'medium' }}" alt="" class=""> {% endcomment %}
                  {{- product.featured_image.src | image_url: width:product.featured_image.src.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
                </div>
                <div class="fet-info">
                  <p>{{ product.title }}</p>
                  <div class="pricing {% if product.price_min != product.compare_at_price_min %}discounted{% endif %}">
                     {% render 'new-currency-format', price : product.price_min, cart : cart, template : template, product: product, menu : 'yes' %}
                     {% comment %} <p class="nav-price">{% if product.price_varies %}From{% endif %} {{ product.price_min | money_without_trailing_zeros }}</p> {% endcomment %}
                    {% if product.price_min != product.compare_at_price_min %}
                    <del class="nav-compare-price">{{ product.compare_at_price_min | money_without_trailing_zeros }}</del>
                    <span class="btn nav-save-price">Save {{ product.compare_at_price_min | minus: product.price_min | money_without_trailing_zeros }}</span>
                    {% endif %}
                  </div>
                </div>
              </a>
            </li>
            {% endif %}
          </ul>
        </div>
        {% if block.settings.ac_left_img != blank %}
        <div class="limitseal">
          <a href="{{block.settings.ac_left_img_url}}">
            {% comment %} <img class="catnavitemfig" src="{{block.settings.ac_left_img | img_url: 'large' }}" alt=""> {% endcomment %}
            {{- block.settings.ac_left_img | image_url: width:block.settings.ac_left_img.width | image_tag: loading: 'lazy', sizes: 'min(100vw, 520px)', widths: '300,400,500,600' -}}
          </a>
        </div>
        {% endif %}
      </div>
      {% endif %}
      {% endfor %}
    </div>

</div>