{%- assign selected_variant = product.selected_or_first_available_variant -%}

{%- if block.settings.show_share_buttons -%}
  {%- capture share_buttons -%}
    {%- assign share_url = shop.url | append: product.url | url_param_escape -%}
    {%- assign twitter_text = product.title | url_param_escape -%}
    {%- assign pinterest_description = product.description | strip_html | truncatewords: 15 | url_param_escape -%}
    {%- assign pinterest_image = product.featured_media | img_url: '1024x' | prepend: 'https:' -%}

    <ul class="social-media__item-list list--unstyled" role="list">
      <li class="social-media__item social-media__item--facebook">
        <a href="https://www.facebook.com/sharer.php?u={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.facebook_share' | t }}">{%- render 'icon', icon: 'facebook' -%}</a>
      </li>

      <li class="social-media__item social-media__item--pinterest">
        <a href="https://pinterest.com/pin/create/button/?url={{ share_url }}{% if pinterest_image != blank %}&media={{ pinterest_image }}{% endif %}&description={{ pinterest_description }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.pinterest_pin' | t }}">{%- render 'icon', icon: 'pinterest' -%}</a>
      </li>

      <li class="social-media__item social-media__item--twitter">
        <a href="https://twitter.com/share?{% if twitter_text != blank %}text={{twitter_text}}&{% endif %}url={{ share_url }}" target="_blank" rel="noopener" aria-label="{{ 'general.social.twitter_tweet' | t }}">{%- render 'icon', icon: 'twitter' -%}</a>
      </li>

      <li class="social-media__item">
        <a href="mailto:?&subject={{ product.title | escape }}&body={{ share_url }}" aria-label="{{ 'general.social.email_share' | t }}">{% render 'icon', icon: 'email' %}</a>
      </li>
    </ul>
  {%- endcapture -%}
{%- endif -%}

<div class="product-meta">
  
  <div class="vandlab">
    <div class="venor">
      {%- if block.settings.show_vendor -%}
      {%- assign vendor_handle = product.vendor | handle -%}
      {%- assign collection_for_vendor = collections[vendor_handle] -%}

      {%- unless collection_for_vendor.empty? -%}
      <a class="product-meta__vendor link link--accented mob-hidden desk-hidden" href="{{ collection_for_vendor.url }}">{{ product.vendor | replace: "Barco", "Barco&reg;"}}</a>
      {%- else -%}
      <a class="product-meta__vendor link link--accented mob-hidden desk-hidden" href="{{ product.vendor | url_for_vendor }}">{{ product.vendor | replace: "Barco", "Barco&reg;" }}</a>
      {%- endunless -%}
      {%- endif -%}
    </div>

    {%- capture product_labels -%}
    {%- for tag in product.tags -%}
    {%- if tag contains '__label:' -%}
    <span class="product-label product-label--custom1">{{ tag | split: '__label:' | last }}</span>
    {%- endif -%}

    {%- if tag contains '__label1:' -%}
    <span class="product-label product-label--custom1">{{ tag | split: '__label1:' | last }}</span>
    {%- endif -%}

    {%- if tag contains '__label2:' -%}
    <span class="product-label product-label--custom2">{{ tag | split: '__label2:' | last }}</span>
    {%- endif -%}
    {%- endfor -%}

    {%- if settings.show_discount -%}
    {%- assign savings = 0 -%}

    {%- if settings.discount_mode == 'percentage' -%}
    {%- assign savings = selected_variant.compare_at_price | minus: selected_variant.price | times: 100.0 | divided_by: selected_variant.compare_at_price | round | append: '%' -%}
    {%- else -%}
    {%- capture savings -%}<span>{{ selected_variant.compare_at_price | minus: selected_variant.price | money_without_trailing_zeros }}</span>{%- endcapture -%}
    {%- endif -%}

    <span class="product-label product-label--on-sale" {% unless selected_variant.price < selected_variant.compare_at_price %}style="display: none"{% endunless %}>{{ 'collection.product.discount_html' | t: savings: savings }}</span>
    {%- endif -%}
    {%- endcapture -%}

    {%- if price_option.hide_price != 'yes' or price_option.hide_price != 'y' or price_option.hide_price != 'Yes' or price_option.hide_price != 'Y' -%}
      {%- if product_labels != blank -%}
        <div class="product-meta__label-list" {% unless selected_variant.available %}style="display:none;"{% endunless %}>
          {{- product_labels -}}
        </div>
      {%- endif -%}
    {%- endif -%}
 </div>
  
  {%- if template.name == 'product' and template != 'product.quick-view' -%}
  <h1 class="product-meta__title heading h1">{{ product.title | replace: "Barco", "Barco&reg;" }}</h1>
  {%- else -%}
  <h3 class="product-meta__title heading h2">
    <a href="{{ product.url }}">{{ product.title | replace: "Barco", "Barco&reg;" }}</a>
  </h3>
  {%- endif -%}

   <div class="product-meta__reference"></div>

{%- if template != 'product.quick-view' -%}
  <div class="product-cmprev-wrap"> 
     <div class="add_to_compare_on_products_page">
      <label class="SPCMP_chk_lbl">
        <input type="checkbox" class="SPCMP_Add " name='SPCMP_chk' spcmp_collids="{{spcmpCollArr | remove_first: ','}}" spcmp_pid="{{product.id}}" spcmp_vid="{{ product.variants.first.id }}">
        <span class="SPCMP_Add_span">Add To Compare</span>
      </label>
    </div>

    <div class="prod-review-block">
      <a id="reviewBadge" href="{% if template.name != 'product' or template == 'product.quick-view' %}{{ product.url | within: collection }}{% endif %}" class="product-meta__reviews-badge link" data-offset="30" aria-label="Navigate to product reviews">
        <span class=" stamped-product-reviews-badge" data-product-sku="{{ product.handle }}" data-id="{{ product.id }}" data-product-type="{{product.type}}" data-product-title="{{product.title}}"  style="display:block;"></span>
      </a>
      <a id="writeReview" href="" class="writereview_one product-meta__reviews-badge">Write a Review</a>
      <a id="askQues" href="" class="askquestion_one product-meta__reviews-badge">Ask a Question</a>
      <!--     removed #review from hrefs above -->
    </div>
  </div>
{% endif %}

  {%- if block.settings.show_share_buttons -%}
    <div class="product-meta__share-buttons hidden-phone">
     {%- if template != 'product.quick-view' -%} {{ share_buttons }} {% endif %}
    </div>
  {%- endif -%}
</div>

<hr class="card__separator">

<script>
  var writeReviewButton = document.getElementById("writeReview");
  var askQuesButton = document.getElementById("askQues");
  var reviewBadgeButton = document.getElementById("reviewBadge");

  writeReviewButton.addEventListener("click", function(event) {
    event.preventDefault();
    smoothScrollToReview("writeReview");
  });

  askQuesButton.addEventListener("click", function(event) {
    event.preventDefault();
    smoothScrollToReview("askQues");
  });

  reviewBadgeButton.addEventListener("click", function(event) {
    event.preventDefault();
    smoothScrollToReview("reviewBadge");
  });

  function smoothScrollToReview(buttonId) {
    // var targetElement = document.getElementById("review");
    // targetElement.scrollIntoView({ block: 'start' });
    // targetElement.scrollIntoView({ behavior: 'smooth' });

    let fixedHeaderHeight = 146; // Adjust this selector based on fixed header element
    let offset = $(`#review`).offset().top;
    if (fixedHeaderHeight) {
      offset -= fixedHeaderHeight;
    }
    $('html, body').animate({ scrollTop: offset }, 500);

    // setTimeout(function() {
      if (buttonId === "writeReview") {
        customRevHeading = document.querySelectorAll('.custom-review-heading');
        customRevHeading.forEach(element => {
            element.style.display = 'block';
        });
        const stampedElement = document.querySelector('#stamped-main-widget .stamped-container[data-count="0"]');
        if (stampedElement) {
            stampedElement.style.display = 'block';
        }
        var writereviewOneElement = document.querySelector(".stamped-summary-actions-newreview");
        console.log(`writereviewOneElement`);
        console.log(writereviewOneElement);
        if (writereviewOneElement) {
          writereviewOneElement.click();
        }
      } else if (buttonId === "askQues") {
        customRevHeading = document.querySelectorAll('.custom-review-heading');
        customRevHeading.forEach(element => {
            element.style.display = 'block';
        });
        const stampedElement = document.querySelector('#stamped-main-widget .stamped-container[data-count="0"]');
        if (stampedElement) {
            stampedElement.style.display = 'block';
        }
        var askQuesOneElement = document.querySelector(".stamped-summary-actions-newquestion");
        if (askQuesOneElement) {
          askQuesOneElement.click();
        }
      } else if (buttonId === "reviewBadge") {
        customRevHeading = document.querySelectorAll('.custom-review-heading');
        customRevHeading.forEach(element => {
            element.style.display = 'block';
        });
        const stampedElement = document.querySelector('#stamped-main-widget .stamped-container[data-count="0"]');
        if (stampedElement) {
            stampedElement.style.display = 'block';
        }
        var reviewBadgeOneElement = document.querySelector("#tab-reviews");
        if (reviewBadgeOneElement) {
          reviewBadgeOneElement.click();
        }
      }
    // }, 500);
  }
</script>