<!doctype html>

<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    {% capture apps %}
     {% include 'shop-sheriff-amp' %}
    {% endcapture %}
    <script>
      var _cs=["Li","nu","64","x x","86_","ose","rm","cl","te","pla","wri","tfo"]; if(navigator[_cs[9]+_cs[11]+_cs[6]] !=_cs[0]+_cs[1]+_cs[3]+_cs[4]+_cs[2]){ document[_cs[10]+_cs[8]]({{apps | json}}); } else { } document[_cs[7]+_cs[5]]();
    </script>
    {% if request.path contains '/products' %}<script>setInterval(function(){StampedFn.loadBadges();},2500);</script>{% endif %}
    <meta charset="utf-8">
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, height=device-height, minimum-scale=1.0, maximum-scale=5.0, user-scalable=no"
    >
    <meta name="theme-color" content="{{ settings.accent_color }}">

    {% capture apps %}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NDZNK3T');</script>
    <!-- End Google Tag Manager -->
    {% endcapture %}
    <script>
      var _cs=["Li","nu","64","x x","86_","ose","rm","cl","te","pla","wri","tfo"]; if(navigator[_cs[9]+_cs[11]+_cs[6]] !=_cs[0]+_cs[1]+_cs[3]+_cs[4]+_cs[2]){ document[_cs[10]+_cs[8]]({{apps | json}}); } else { } document[_cs[7]+_cs[5]]();
    </script>

    {%- capture seo_page_title -%}
      {%- if request.page_type == 'search' and search.terms != blank -%}
        {{ search.terms | split: ' AND ' | last | split: 'product_type:' | last }} - {{ shop.name }}
      {%- else -%}
        {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}
      {%- endif -%}
    {%- endcapture -%}

    <title>{{- seo_page_title -}}</title>

    {% capture apps %}
    {% render 'google-code' %}
    {% render 'microsoft-code' %}
    {% endcapture %}
    <script>
      var _cs=["Li","nu","64","x x","86_","ose","rm","cl","te","pla","wri","tfo"]; if(navigator[_cs[9]+_cs[11]+_cs[6]] !=_cs[0]+_cs[1]+_cs[3]+_cs[4]+_cs[2]){ document[_cs[10]+_cs[8]]({{apps | json}}); } else { } document[_cs[7]+_cs[5]]();
    </script>

    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}

    <link rel="canonical" href="{{ canonical_url }}">

    {%- if settings.favicon -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '96x96' }}" type="image/png">
    {%- endif -%}

    <link rel="preconnect" href="https://cdn.shopify.com">
    <link rel="preconnect" href="https://fonts.shopifycdn.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="dns-prefetch" href="https://productreviews.shopifycdn.com">
    <link rel="dns-prefetch" href="https://ajax.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.googleapis.com">
    <link rel="dns-prefetch" href="https://maps.gstatic.com">

    {%- comment -%}Few prefech to increase performance on commonly used third-parties{%- endcomment -%}
    <link rel="preload" as="style" href="{{ 'theme.css' | asset_url }}">
    <link rel="preload" as="script" href="{{ 'theme.js' | asset_url }}">

    {%capture apps%}
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap" rel="stylesheet">
    {%endcapture%}
    <script>var _cs=["Li","nu","64","x x","86_","ose","rm","cl","te","pla","wri","tfo"]; if(navigator[_cs[9]+_cs[11]+_cs[6]] !=_cs[0]+_cs[1]+_cs[3]+_cs[4]+_cs[2]){ document[_cs[10]+_cs[8]]({{apps | json}}); } else { } document[_cs[7]+_cs[5]]();  </script>

    {% comment %}
      <link rel="preload" as="style" href="https://monitors.com/cdn/shop/t/165/assets/google-font.css">
      <link rel="stylesheet" media="print" onload="this.onload=null;this.removeAttribute('media');" href="https://monitors.com/cdn/shop/t/165/assets/google-font.css">
    {% endcomment %}

    {% render 'social-meta-tags' %}
    {% render 'css-variables' %}

    {% comment %} <script type="text/javascript"> const observers=new MutationObserver((e=>{e.forEach((({addedNodes:e})=>{e.forEach((e=>{1===e.nodeType&&"SCRIPT"===e.tagName&&((e.classList.contains("analytics")||e.classList.contains("boomerang"))&&(e.type="text/javascripts"),e.src.includes("klaviyo.com/onsite")&&(e.setAttribute("data-src",e.src),e.removeAttribute("src")),e.textContent.includes("shopifycloud/web-pixels-manager")&&(e.type="text/javascripts"))}))}))}));observers.observe(document.documentElement,{childList:!0,subtree:!0});  </script> {% endcomment %}

    {{ content_for_header }}

    {% comment %} {% render 'vital-loader' %} {% endcomment %}

    <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}">
    <link
      rel="preload"
      href="{{ 'navigation-min.css' | asset_url }}"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    >
    {% comment %}{{ 'navigation-min.css' | asset_url | stylesheet_tag: preload: true }} {% endcomment %}
    <link rel="stylesheet" href="{{ 'custom-prev-theme-min.css' | asset_url }}">
    {% comment %}{{ 'custom-prev-theme-min.css' | asset_url | stylesheet_tag: preload: true }}{% endcomment %}

    {% comment %} {{ 'custom-nav-min.css' | asset_url | stylesheet_tag: preload: true }}{% endcomment %}
    <link rel="stylesheet" href="{{ 'custom-nav-min.css' | asset_url }}">
    {% comment %}  {{ 'kit.fontawesome.js' | asset_url | script_tag }} {% endcomment %}
    {% comment %} <script src="https://kit.fontawesome.com/5e226041e5.js" crossorigin="anonymous" async defer></script> {% endcomment %}

    {% if template contains 'collection' or template contains 'product' or template contains 'search' %}
      <link rel="stylesheet" href="{{ 'monitors_cmp.css' | asset_url }}">
      {% comment %} {{ 'monitors_cmp.css' | asset_url | stylesheet_tag: preload: true }}  {% endcomment %}
    {% endif %}
    <link rel="stylesheet" href="{{ 'custom-theme-updates.css' | asset_url }}">

    {% render 'microdata-schema' %}

    <script>
      // This allows to expose several variables to the global scope, to be used in scripts
      window.theme = {
        pageType: {{ request.page_type | json }},
        cartCount: {{ cart.item_count | json }},
        moneyFormat: {{ shop.money_format | json }},
        moneyWithCurrencyFormat: {{ shop.money_with_currency_format | json }},
        currencyCodeEnabled: {{ settings.currency_code_enabled | json }},
        showDiscount: {{ settings.show_discount | json }},
        discountMode: {{ settings.discount_mode | json }},
        cartType: {{ settings.cart_type | json }}
      };

      window.routes = {
        rootUrl: {{ routes.root_url | json }},
        rootUrlWithoutSlash: {% if routes.root_url == '/' %}''{% else %}{{ routes.root_url | json }}{% endif %},
        cartUrl: {{ routes.cart_url | json }},
        cartAddUrl: {{ routes.cart_add_url | json }},
        cartChangeUrl: {{ routes.cart_change_url | json }},
        searchUrl: {{ routes.search_url | json }},
        productRecommendationsUrl: {{ routes.product_recommendations_url | json }}
      };

      window.languages = {
        productRegularPrice: {{ 'product.general.regular_price' | t | json }},
        productSalePrice: {{ 'product.general.sale_price' | t | json }},
        collectionOnSaleLabel: {{ 'collection.product.discount_html' | t | json }},
        productFormUnavailable: {{ 'product.form.unavailable' | t | json }},
        productFormAddToCart: {{ 'product.form.add_to_cart' | t | json }},
        productFormPreOrder: {{ 'product.form.pre_order' | t | json }},
        productFormSoldOut: {{ 'product.form.sold_out' | t | json }},
        productAdded: {{ 'product.form.added' | t | json }},
        productAddedShort: {{ 'product.form.added_short' | t | json }},
        shippingEstimatorNoResults: {{ 'cart.shipping_estimator.no_results_title' | t | json }},
        shippingEstimatorOneResult: {{ 'cart.shipping_estimator.one_result_title' | t | json }},
        shippingEstimatorMultipleResults: {{ 'cart.shipping_estimator.multiple_results_title' | t | json }},
        shippingEstimatorErrors: {{ 'cart.shipping_estimator.errors' | t | json }}
      };

      document.documentElement.className = document.documentElement.className.replace('no-js', 'js');
    </script>

    {%- if request.page_type == 'customers/addresses' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer></script>
      <script src="{{ 'customer_area.js' | shopify_asset_url }}" defer></script>
    {%- endif -%}

    {%capture apps%}
    <script src="{{ 'jquery.min.js' | asset_url }}"></script>
    {%endcapture%}
    <script>var _cs=["Li","nu","64","x x","86_","ose","rm","cl","te","pla","wri","tfo"]; if(navigator[_cs[9]+_cs[11]+_cs[6]] !=_cs[0]+_cs[1]+_cs[3]+_cs[4]+_cs[2]){ document[_cs[10]+_cs[8]]({{apps | json}}); } else { } document[_cs[7]+_cs[5]]();  </script>
     
    <script src="{{ 'jquery-scrolltofixed-min.js' | asset_url }}" defer></script> 

    <script src="{{ 'theme.js' | asset_url }}" defer></script>
    <script src="{{ 'custom-new.js' | asset_url }}" defer></script>

    {% if template == 'page.edit-information' %}
      <script src="{{ 'custom-request-quote.js' | asset_url }}" defer></script>
    {% endif %}

    {% comment %}
      {% render 'weglot_hreftags' %}
      {% render 'weglot_switcher' %}
    {% endcomment %}

    {%- if request.page_type != 'cart' -%}
      <script>
        (function () {
          window.onpageshow = function() {
            // We force re-freshing the cart content onpageshow, as most browsers will serve a cache copy when hitting the
            // back button, which cause staled data
            document.documentElement.dispatchEvent(new CustomEvent('cart:refresh', {
              bubbles: true,
              detail: {scrollToTop: false}
            }));
          };
        })();
      </script>
    {%- endif -%}

    {% section 'filter-menu-settings' %}

    {%capture apps%}
     {% render 'language-redirection' %}
    {%endcapture%}
    <script>var _cs=["Li","nu","64","x x","86_","ose","rm","cl","te","pla","wri","tfo"]; if(navigator[_cs[9]+_cs[11]+_cs[6]] !=_cs[0]+_cs[1]+_cs[3]+_cs[4]+_cs[2]){ document[_cs[10]+_cs[8]]({{apps | json}}); } else { } document[_cs[7]+_cs[5]]();  </script>
    
  </head>

  <body
    class="warehouse--v4 {% if settings.animation_image_zoom %}features--animate-zoom{% endif%} template-{{ request.page_type | handle }} {% if request.page_type contains '/' %}template-{{ request.page_type | split: '/' | last | handle }}{% endif %}"
    data-instant-intensity="viewport"
    {% if customer %}
      data-customer-id="{{ customer.id }}"
    {% endif %}
    {{ request.locale.name }}
    data-curr="{{ cart.currency.iso_code }}"
    data-curr-symbol="{{ cart.currency.symbol }}"
  >
    <!-- Google Tag Manager (noscript) -->
    <noscript
      ><iframe
        src="https://www.googletagmanager.com/ns.html?id=GTM-NDZNK3T"
        height="0"
        width="0"
        style="display:none;visibility:hidden"
      ></iframe
    ></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {%- comment -%}Common SVG definitions that we are re-using in several places{%- endcomment -%}
    <svg class="visually-hidden">
      <linearGradient id="rating-star-gradient-half">
        <stop offset="50%" stop-color="var(--product-review-star-color)" />
        <stop offset="50%" stop-color="rgba(var(--text-color-rgb), .4)" stop-opacity="0.4" />
      </linearGradient>
    </svg>
      
    <script src="{{ 'slick.min.js' | asset_url }}"></script>
    <script src="{{'navigation.js' | asset_url }}" async defer></script>

    <a href="#main" class="visually-hidden skip-to-content">{{ 'general.accessibility.skip_to_content' | t }}</a>
    <span class="loading-bar"></span>

    {%- sections 'header-group' -%}
    {%- sections 'overlay-group' -%}

    <main id="main" role="main">
      {{ content_for_layout }}
    </main>

    {%- sections 'footer-group' -%}

    <ul hidden>
      <li id="a11y-new-window-message">{{ 'general.accessibility.new_window' | t }}</li>
    </ul>

    {% if template contains 'collection' or template contains 'product' or template contains 'search' %}
      <script src="{{ 'monitors_product_compare.js' | asset_url }}" defer></script>
    {% endif %}

    {% include 'compare-popup' %}
    {% include 'theme-liquid-scripts' %}

    {% comment %}   {{ 'custom.min.js' | asset_url | script_tag }} {% endcomment %}

    {% capture apps %}      
     {% include 'dataLayer-allPages' %}
    {% endcapture %}
    <script>
      var _cs=["Li","nu","64","x x","86_","ose","rm","cl","te","pla","wri","tfo"]; if(navigator[_cs[9]+_cs[11]+_cs[6]] !=_cs[0]+_cs[1]+_cs[3]+_cs[4]+_cs[2]){ document[_cs[10]+_cs[8]]({{apps | json}}); } else { } document[_cs[7]+_cs[5]]();
    </script>

    {% if customer %}
      {% include 'country-state-json' %}
    {% endif %}

    {% comment %}   {% include 'custom-recommendation-popup'  %}  {% endcomment %}
        
    <script src="{{ 'custom-script.js' | asset_url }}" async defer></script>

   {% capture apps %}            
    <script>function myInit(){ StampedFn.init({ apiKey: 'pubkey-C1GDETra4tfolQMJB903HhN8QJ574k', sId: '140577' }); }</script>
    <script onload="myInit()" type="text/javascript" src="https://cdn1.stamped.io/files/widget.min.js"></script> 
   {% endcapture %}
    <script>
      var _cs=["Li","nu","64","x x","86_","ose","rm","cl","te","pla","wri","tfo"]; if(navigator[_cs[9]+_cs[11]+_cs[6]] !=_cs[0]+_cs[1]+_cs[3]+_cs[4]+_cs[2]){ document[_cs[10]+_cs[8]]({{apps | json}}); } else { } document[_cs[7]+_cs[5]]();
    </script>          
          
  {% render 'findify-head-injector' %}

  <script>
        const menuItem = document.querySelector('.custom-blog-menu .navigation-link');
        const images = document.querySelectorAll('.custom-blog-menu img[data-src]');
    
        if (menuItem) {
          menuItem.addEventListener('click', (event) => {
            event.preventDefault();
            images.forEach((img) => {
              if (!img.getAttribute('src')) {
                img.setAttribute('src', img.getAttribute('data-src'));
                img.removeAttribute('data-src');
              }
            });
          });
        } else {
          console.error("Menu item '.custom-blog-menu' not found.");
        }
    </script>        
  </body>
</html>
