<section class="section custom-grid" style="background-color: {{ section.settings.color_background }}" id="shopify-section--{{ section.id }}">
 <div class="container">
  {%- if section.settings.title != blank -%}
      <header class="section__header custom-grid-section__header">
        <h2 class="section__title heading h3">{{ section.settings.title | escape }}</h2>
      </header>
  {%- endif -%} 
  <div class="row">
   {%- for block in section.blocks -%}
     <style>
         @media (min-width: 641px) {
            #shopify-section--{{ section.id }}.custom-grid .custom-item-title{{ forloop.index }}{
              font-size: {{ block.settings.title_size_desktop }}px !important;         
              color: {{ block.settings.color_heading }};
           }

            #shopify-section--{{ section.id }}.custom-grid .custom-short-title{{ forloop.index }}{
              font-size: {{ block.settings.short_title_size_desktop }}px !important;         
              color: {{ block.settings.color_short_title }};
           }
      
            #shopify-section--{{ section.id }}.custom-grid .item .custom-item-desc{{ forloop.index }}{
             font-size: {{ block.settings.text_size_desktop }}px!important;
             color: {{ block.settings.color_text }};
           }
        }
      
        @media (max-width: 640px) {
            #shopify-section--{{ section.id }}.custom-grid .custom-item-title{{ forloop.index }}{
              font-size: {{ block.settings.title_size_mobile }}px !important;
              color: {{ block.settings.color_heading }};
           }

          #shopify-section--{{ section.id }}.custom-grid .custom-short-title{{ forloop.index }}{
              font-size: {{ block.settings.short_title_size_mobile }}px !important;         
              color: {{ block.settings.color_short_title }};
           }
      
           #shopify-section--{{ section.id }}.custom-grid .item .custom-item-desc{{ forloop.index }}{
             font-size: {{ block.settings.text_size_mobile }}px!important;            
             color: {{ block.settings.color_text }};
           }
        }
      </style>
     <div class="item">
      <h3 class="custom-short-title{{ forloop.index }} custom-short-title">{{ block.settings.short_title | escape }}</h3>
      <h2 class="custom-item-title{{ forloop.index }} custom-item-title section__title heading h3">{{ block.settings.title | escape }}</h2>
      <p class="custom-item-desc{{ forloop.index }}">{{ block.settings.description}}</p>
      </div>
    {%endfor%}
  </div>
 </div>
</section>

<style>
  
   #shopify-section--{{ section.id }} .row {
     display: flex;
     flex-wrap: wrap;
     justify-content: space-between;
     align-content: flex-start;
    }

  @media (max-width:720px){
   #shopify-section--{{ section.id }}.custom-grid .item {
     flex: 1; 
     min-width: 100%;
     border-bottom: {{ section.settings.separator_thickness }}px solid {{ section.settings.color_separator }};
     padding-top: 30px;
   }

   #shopify-section--{{ section.id }}.custom-grid .item:last-child {
     border-bottom: none;
    }

   #shopify-section--{{ section.id }}.custom-grid .custom-short-title{
     padding-bottom: 10px !important;
   }

  }

   @media (min-width:721px){
    #shopify-section--{{ section.id }}.custom-grid .item {
        flex: 1; 
        min-width: 25%;
        text-align: center;
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 40px;
       margin-left: 0 !important;
       border-right: {{ section.settings.separator_thickness }}px solid {{ section.settings.color_separator }} !important;
      }

     #shopify-section--{{ section.id }}.custom-grid .item:last-child {
      border-right:none !important;
    }
  }    

 #shopify-section--{{ section.id }} .custom-grid-section__header{
    padding-left: 15px;
  }

  #shopify-section--{{ section.id }}.custom-grid .custom-short-title{
    text-align:left;
    line-height: 1.33!important;
    font-weight: 500;
    padding-bottom: 50px;
  }

    #shopify-section--{{ section.id }}.custom-grid .custom-item-title{
    padding-bottom: 30px;
    text-align: left;
  }

    #shopify-section--{{ section.id }}.custom-grid .item p{
    line-height: 1.5!important;
    letter-spacing: -.2px!important;
    text-align: left;
    margin-bottom: 50px;
  } 
 
</style>

{% schema %}
  {
    "max_blocks": 4,
    "name": "Custom grid",
    "settings": [
      {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Section Heading"
      },
      {
        "type": "color",
        "id": "color_background",
        "label": "Section Background Color",
        "default": "#ffffff"
      },
      {
        "type": "color",
        "id": "color_separator",
        "label": "Separator Color",
        "default": "#dddddd"
      },
      {
        "type": "range",
        "id": "separator_thickness",
        "label": "Separator Thickness",
        "min": 0,
        "max": 5,
        "step": 1,
        "default": 2,
        "unit": "px"
      }
    ],
   "blocks": [
    {
      "type": "Text",
      "name": "Text",
      "settings": [
        {
          "type": "text",
          "id": "short_title",
          "label": "Short Title",
          "default": "short title"
        },
        {
          "type": "range",
          "id": "short_title_size_desktop",
          "label": "Short Title Size Desktop",
          "min": 10,
          "max": 20,
          "step": 1,
          "default": 16,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "short_title_size_mobile",
          "label": "Short Title Size Mobile",
          "min": 10,
          "max": 20,
          "step": 1,
          "default": 16,
          "unit": "px"
        },
         {
          "type": "color",
          "id": "color_short_title",
          "label": "Short title color",
          "default": "#4d4d4f"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your title"
        },
        {
          "type": "range",
          "id": "title_size_desktop",
          "label": "Title Size Desktop",
          "min": 10,
          "max": 40,
          "step": 1,
          "default": 32,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "title_size_mobile",
          "label": "Title Size Mobile",
          "min": 10,
          "max": 30,
          "step": 1,
          "default": 21,
          "unit": "px"
        },
         {
          "type": "color",
          "id": "color_heading",
          "label": "Heading color",
          "default": "#4d4d4f"
        },
        {
          "type": "text",
          "id": "description",
          "label": "Description",
          "default": "Your description"
        },
        {
          "type": "range",
          "id": "text_size_desktop",
          "label": "Text Size Desktop",
          "min": 10,
          "max": 30,
          "step": 1,
          "default": 16,
          "unit": "px"
        },
        {
          "type": "range",
          "id": "text_size_mobile",
          "label": "Text Size Mobile",
          "min": 10,
          "max": 30,
          "step": 1,
          "default": 16,
          "unit": "px"
        },
        {
          "type": "color",
          "id": "color_text",
          "label": "Text color",
          "default": "#4d4d4f"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Custom grid"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}