<style>
  @media only screen and (min-width: 641px) {
    #shopify-section--{{ section.id }} .custom-card__separator {
      margin-top: {{ section.settings.top-margin-desktop }}px;
      margin-bottom: {{ section.settings.bottom-margin-desktop }}px;
    }

    #shopify-section--{{ section.id }}.section-custom__separator {
      margin-top: {{ section.settings.section-top-margin-desktop }}px !important;
      margin-bottom: {{ section.settings.section-bottom-margin-desktop }}px !important;
    }

    #shopify-section--{{ section.id }} .custom-html-section-title {
      font-size: {{ section.settings.title_size_desktop }}px !important;
    }

    #shopify-section--{{ section.id }} .custom-html-section-text * {
      font-size: {{ section.settings.text_size_desktop }}px !important;
    }
  }


  #shopify-section--{{ section.id }} .custom-card__separator {
    margin-top: {{ section.settings.top-margin-mobile }}px;
    margin-bottom: {{ section.settings.bottom-margin-mobile }}px;
  }

  #shopify-section--{{ section.id }}.section-custom__separator {
    margin-top: {{ section.settings.section-top-margin-mobile }}px !important;
    margin-bottom: {{ section.settings.section-bottom-margin-mobile }}px !important;
  }

  #shopify-section--{{ section.id }} .custom-html-section-title {
    font-size: {{ section.settings.title_size_mobile }}px !important;
  }

  #shopify-section--{{ section.id }} .custom-html-section-text * {
    font-size: {{ section.settings.text_size_mobile }}px !important;
  }
</style>

<section class="section section-custom__separator custom-html-section" data-section-id="{{ section.id }}" data-section-type="html" id="shopify-section--{{ section.id }}">
  <div class="container">
    {%- if section.settings.title != blank -%}
      <header class="section__header">
        <h2 class="section__title heading h3 custom-html-section-title">{{ section.settings.title | escape }}</h2>
      </header>
    {%- endif -%}

    <div class="html rte custom-html-section-text">
      {{ section.settings.html }}
    </div>

    {%- if section.settings.show_separator -%}
      <hr class="card__separator custom-card__separator" style="border-top: 1px solid {{ section.settings.color_title }};">
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "Custom HTML",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Heading",
      "default": "Your title"
    },
    {
      "type": "html",
      "id": "html",
      "label": "HTML",
      "default": "<p>Write or copy/paste HTML code</p>"
    },
    {
      "type": "range",
      "id": "title_size_desktop",
      "label": "Title Font Size Desktop",
      "min": 10,
      "max": 40,
      "step": 1,
      "default": 22,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "label": "Title Font Size Mobile",
      "min": 10,
      "max": 30,
      "step": 1,
      "default": 21,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "text_size_desktop",
      "label": "Text Font Size Desktop",
      "min": 10,
      "max": 30,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "range",
      "id": "text_size_mobile",
      "label": "Text Font Size Mobile",
      "min": 10,
      "max": 30,
      "step": 1,
      "default": 16,
      "unit": "px"
    },
    {
      "type": "checkbox",
      "id": "show_separator",
      "label": "Horizontal Separator",
      "default": false
    },
    {
      "type": "range",
      "id": "top-margin-desktop",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "Top Margin Desktop",
      "default": 40
    },
    {
      "type": "range",
      "id": "bottom-margin-desktop",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "Bottom Margin Desktop",
      "default": 40
    },
    {
      "type": "range",
      "id": "top-margin-mobile",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "Top Margin Mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "bottom-margin-mobile",
      "min": 0,
      "max": 100,
      "step": 10,
      "unit": "px",
      "label": "Bottom Margin Mobile",
      "default": 40
    },
    {
      "type": "range",
      "id": "section-top-margin-desktop",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Section Top Margin Desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "section-bottom-margin-desktop",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Section Bottom Margin Desktop",
      "default": 80
    },
    {
      "type": "range",
      "id": "section-top-margin-mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Section Top Margin Mobile",
      "default": 50
    },
    {
      "type": "range",
      "id": "section-bottom-margin-mobile",
      "min": 0,
      "max": 100,
      "step": 5,
      "unit": "px",
      "label": "Section Bottom Margin Mobile",
      "default": 50
    },
    {
      "type": "color",
      "id": "color_title",
      "label": "Separator color",
      "default": "#e1e3e4"
    }
  ],
  "presets": [
    {
      "category": "Advanced",
      "name": "Custom HTML Bkp 2"
    }
  ]
}
{% endschema %}