{%- assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/', '/' | replace: '%20', ' ' | replace: '\u0026', '&' | replace: '%7C', '|' | replace: '%27', "'" -%}
{%- assign query_parameters = page_url | split: 'sections=findify-grid-collection&' | last -%}

{% include 'findify-grid-connector' %}
{% assign findify_filters_component_id = 'findify-filters-sidebar' %}

{%- assign desktop_filter_layout = query_parameters | split: 'desktop_filter_layout:' | last | split: '|' | first | split: '&' | first -%}
{%- assign desktop_filter_position = query_parameters | split: 'desktop_filter_position:' | last | split: '|' | first | split: '&' | first -%}
{%- assign one_open_filter = query_parameters | split: 'one_open_filter:' | last | split: '|' | first | split: '&' | first -%}
{%- assign all_filters_hidden = query_parameters | split: 'all_filters_hidden:' | last | split: '|' | first | split: '&' | first -%}
{%- assign all_filters_collapsed = query_parameters | split: 'all_filters_collapsed:' | last | split: '|' | first | split: '&' | first -%}
{%- assign sticky_filters = query_parameters | split: 'sticky_filters:' | last | split: '|' | first | split: '&' | first -%}
{%- assign disable_search_input = query_parameters | split: 'disable_search_input:' | last | split: '|' | first | split: '&' | first -%}
{%- assign use_grid_toggler_on_desktop = query_parameters | split: 'use_grid_toggler_on_desktop:' | last | split: '|' | first | split: '&' | first -%}
{%- assign use_grid_toggler_on_mobile = query_parameters | split: 'use_grid_toggler_on_mobile:' | last | split: '|' | first | split: '&' | first -%}
{% if mobile_products_per_view == '1' %}
  {% assign mobile_products_per_view_alt = '2' %} 
{% else %}
  {% assign mobile_products_per_view_alt = '1' %} 
{% endif %}

<div 
  id="findify-search" 
  class="
    findify-search-section findify-body
    {% if desktop_filter_layout != 'drawer' and sticky_filters == "true" %} findify-filters-sticky {% endif %}
    {% if one_open_filter == "true" %} findify-one-filter-open {% endif %}
    {% if all_filters_collapsed == "true" %} findify-filter-collapsed {% endif %}
    {% if all_filters_hidden == "true" %} findify-filter-hidden {% endif %}
    {% if desktop_filter_layout != 'horizontal' %}findify-filters-{{ desktop_filter_position }} {% endif %}
    {% if disable_search_input == 'true' %} findify-filters-disable_search_input {% endif %}
    findify-filters-{{ desktop_filter_layout }}
  "
>
  {% render 'findify-custom-collection-header' %}
  <div class="findify-search-container">
    {% if desktop_filter_layout != 'drawer' %}
      {% render 'findify-toolbar-desktop'
      , results_count: products_count
      , is_collection: true
      , terms: terms
      , corrected_q: corrected_q
      , query_type: query_type
      , sort_options: sort_options
      , default_sort_by: default_sort_by
      , sort_by: sort_by
      , active_filters: active_filters
      , color_layout: color_layout
      , filter_component_id: findify_filters_component_id
      , use_grid_toggler: use_grid_toggler_on_desktop
      , products_per_view_alt: desktop_products_per_view_alt
      , products_per_view: desktop_products_per_view
    %}
    {% endif %}
     {% render 'findify-toolbar-mobile'
        , results_count: products_count
        , is_collection: true
        , terms: terms
        , corrected_q: corrected_q
        , query_type: query_type
        , sort_options: sort_options
        , default_sort_by: default_sort_by
        , sort_by: sort_by
        , active_filters: active_filters
        , filter_component_id: findify_filters_component_id
        , use_grid_toggler: use_grid_toggler_on_mobile
        , products_per_view: mobile_products_per_view
        , products_per_view_alt: mobile_products_per_view_alt
      %} 
    {% if products_count > 0 %}
      <div id="findify-search-main" class="findify-search-main">
        <div class="findify-loader-overlay">
          {% render 'findify-loader' %}
        </div>

        {% render 'findify-filters'
          , component_id: findify_filters_component_id,
          , active_filters: active_filters
          , color_layout: color_layout 
          , one_open_filter: one_open_filter
          , all_filters_collapsed: all_filters_collapsed
          , all_filters_hidden: all_filters_hidden
        %}

        <div class="findify-products-section" data-product-list="false">
          
       {% comment %}   {% render 'findify-toolbar-desktop-modified'
            , results_count: products_count
            , is_collection: true
            , terms: terms
            , corrected_q: corrected_q
            , query_type: query_type
            , sort_options: sort_options
            , default_sort_by: default_sort_by
            , sort_by: sort_by
            , active_filters: active_filters
            , color_layout: color_layout
            , filter_component_id: findify_filters_component_id
            , use_grid_toggler: use_grid_toggler_on_desktop
            , products_per_view_alt: desktop_products_per_view_alt
            , products_per_view: desktop_products_per_view
            , curr_page: curr_page
            , last_page: last_page
          %}

          {% render 'findify-toolbar-mobile'
            , results_count: products_count
            , is_collection: true
            , terms: terms
            , corrected_q: corrected_q
            , query_type: query_type
            , sort_options: sort_options
            , default_sort_by: default_sort_by
            , sort_by: sort_by
            , active_filters: active_filters
            , filter_component_id: findify_filters_component_id
            , use_grid_toggler: use_grid_toggler_on_mobile
            , products_per_view: mobile_products_per_view
            , products_per_view_alt: mobile_products_per_view_alt
          %} {% endcomment %} 
          
          {% if use_lazy_loading_pagination == 'true' %}
            <div class="findify-lazy-loading-pagination-container">
              {% if curr_page == 1 %}
                {% assign hide_load_prev = true %}
              {% else %}
                {% assign hide_load_prev = false %}
              {% endif %}
              {% render 'findify-button'
                , id: 'findify-pagination-load-previous'
                , text: 'findify.pagination.load_previous'
                , hide: hide_load_prev %}</div>
          {% endif %}
          <div id="findify-product-grid" class="findify-product-list" data-template="main">
            {% comment %}
              This element #findify-product-grid will be populated with rendered html from sections/findify-products.liquid
            {% endcomment %}
          </div>
          <div id='findify-pagination'>
            {% comment %}
              This element #findify-pagination will be replaced with rendered html from sections/findify-pagination
            {% endcomment %}
            {% if use_lazy_loading_pagination == 'true' %}
              {% if curr_page < last_page and lazy_loading_pagination_threshold > 0 %}
                {% render 'findify-lazy-loading-pagination'
                  , id: 'findify-grid' %}{% endif %}
              <div class="findify-lazy-loading-pagination-container">
                {% if curr_page < last_page and lazy_loading_pagination_threshold == 0 %}
                  {% assign hide_load_more = false %}
                {% elsif curr_page == last_page %}
                  {% assign hide_load_more = true %}
                {% else %}
                  {% assign hide_load_more = true %}
                {% endif %}
                {% render 'findify-button'
                  , id: 'findify-pagination-load-more'
                  , text: 'findify.pagination.load_more'
                  , hide: hide_load_more %}
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    {% else %}
      <div class="findify-zero-result-container">
        <h1>{{ 'findify.collections.no_results' | t }}</h1>
        <h3>{{ 'findify.collections.no_results_message' | t }}</h3>
      </div>
    {% endif %}
  </div>
  <style>
    @media (min-width: 768px) {
     #findify-product-grid.findify-product-list[data-template='main'] {
       grid-template-columns: repeat({{desktop_products_per_view}}, minmax(180px, 1fr));
     }
     #findify-product-grid.findify-product-list[data-template='alt'] {
       grid-template-columns: repeat({{desktop_products_per_view_alt}}, minmax(180px, 1fr));
     }
   }
   @media (max-width: 576px) {
     #findify-product-grid.findify-product-list[data-template='main'] {
       grid-template-columns: repeat({{mobile_products_per_view}}, minmax(180px, 1fr));
     }
     #findify-product-grid.findify-product-list[data-template='alt'] {
       grid-template-columns: repeat({{mobile_products_per_view_alt}}, minmax(180px, 1fr));
     }
   }
 </style>
  <script>
      if("{{ use_lazy_loading_pagination }}" == "true") {
        initFindifyLazyLoadingPagination("{{lazy_loading_pagination_threshold}}");
      }

      if("{{ use_lazy_loading_pagination }}" == "false") { 
        initScrollToProductForPagination();
      }

      setFindifyIsLoading(false);
  </script>
</div>

{% schema %}
  {
    "name": "Findify collection",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}
