{%- assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | replace: '\/', '/' | replace: '\u0026', '&' | url_decode -%}
{%- assign parameters = page_url | split: 'sections=findify-promo-card&' | last -%}

{%- assign cta_text = parameters | split: 'cta_text=' | last | split: '&' | first -%}
{%- assign footer = parameters | split: 'footer=' | last | split: '&' | first -%}
{%- assign image_url = parameters | split: 'image_url=' | last | split: '&' | first -%}
{%- assign redirect_link = parameters | split: 'redirect_link=' | last | split: '&' | first -%}
{%- assign sub_header = parameters | split: 'sub_header=' | last | split: '&' | first -%}
{%- assign top_header = parameters | split: 'top_header=' | last | split: '&' | first -%}
{%- assign id = parameters | split: 'id=' | last | split: '&' | first -%}

{%- assign margin_bottom_btn = parameters | split: 'margin_bottom_btn=' | last | split: '&' | first -%}
{%- assign span_col = parameters | split: 'span_col=' | last | split: '&' | first -%}
{%- assign span_row = parameters | split: 'span_row=' | last | split: '&' | first -%}
{%- assign horizontal_align = parameters | split: 'horizontal_align=' | last | split: '&' | first -%}
{%- assign vertical_align = parameters | split: 'vertical_align=' | last | split: '&' | first -%}
{%- assign button_layout = parameters | split: 'button_layout=' | last | split: '&' | first -%}
{%- assign header1_color = parameters | split: 'header1_color=' | last | split: '&' | first -%}
{%- assign header2_color = parameters | split: 'header2_color=' | last | split: '&' | first -%}
{%- assign button_text_color = parameters | split: 'button_text_color=' | last | split: '&' | first -%}

{%- assign header1_size = parameters | split: 'header1_size=' | last | split: '&' | first -%}
{%- assign header2_size = parameters | split: 'header2_size=' | last | split: '&' | first -%}
{%- assign button_text_size = parameters | split: 'button_text_size=' | last | split: '&' | first -%}

<div 
  id="findify-promo-card-{{id}}" 
  class="findify-promo-card"
  style="
    grid-column: auto / span {{ span_col }};
    grid-row: span {{ span_row }}">
  {% if image_url != '' %}
  <style>
    #findify-promo-card-{{ id }} .findify-promo-card-wrapper {
      background-image: url('{{ image_url }}');
    }
  </style>
  {% endif %}
  <div class="findify-promo-card-wrapper">
    <div 
     class="
      findify-promo-card-title-container
      findify-promo-card-title-container-{{ vertical_align }}
      findify-promo-card-title-container-{{ horizontal_align }}
      "
     >
      <h4 
        class="findify-promo-card-top-header" 
        style="color: {{ header1_color }}; font-size: {{ header1_size }}px">
          {{ top_header }}
      </h4>
      <p 
        class="findify-promo-card-subheader" 
        style="color: {{ header2_color }}; font-size: {{ header2_size }}px">
          {{ sub_header }}
      </p>
    </div>
    {% if cta_text != '' %}
    <a 
      href="{{redirect_link}}" 
      class="
        findify-promo-card-cta-button 
        {% if button_layout == 'fullwidth' %}
          findify-promo-card-cta-button-fullwidth
        {% endif %}"
      style=" 
        margin-bottom: {{ margin_bottom_btn }}px;
        color: {{ button_text_color }}; 
        font-size: {{ button_text_size }}px">
          {{cta_text }}
    </a>
    {% endif %}
  </div>
  {% comment %}
  <div class="findify-promo-card-footer">{{footer}}</div>
  {% endcomment %}
</div>

{% schema %}
{
"name": "Findify promo card",
"settings": []
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}