{%- assign page_url = content_for_header | split: '"pageurl":"' | last | split: '"' | first | split: request.host | last | replace: '\/', '/' | replace: '%20', ' ' | replace: '\u0026', '&' -%}
{%- assign query_parameters = page_url | split: 'sections=findify-recommendation&' | last -%}

{%- assign recommendation_id = query_parameters | split: 'recommendation_id=' | last | split: '&' | first | url_decode -%}
{%- assign desktop_slide_per_view = query_parameters | split: 'desktop_slide_per_view=' | last | split: '&' | first -%}
{%- assign mobile_slide_per_view = query_parameters | split: 'mobile_slide_per_view=' | last | split: '|' | first | split: '&' | first -%}

{%- assign title = query_parameters | split: 'title=' | last | split: '&' | first | url_decode -%}

<div id="{{ recommendation_id }}" class='findify-recommendation-container'>
  <h1 class='findify-swiper-title'>{{ title }}</h1>

  <div class='swiper'>
    <div class="swiper-wrapper" id="findify-products-{{ recommendation_id }}"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
    <div class="swiper-pagination"></div>
  </div>

  <script>
      const selector = "#{{ recommendation_id }} .swiper";
      const swiper = new Swiper(selector, {
        direction: "horizontal",
        pagination: {
          el: ".swiper-pagination",
          type: "bullets",
          clickable: true,
          dynamicBullets: true,
          dynamicMainBullets: 4,
        },
        slidesPerView: "{{ desktop_slide_per_view }}",
        breakpoints: {
          320: {
            slidesPerView: "{{ mobile_slide_per_view }}",
            spaceBetween: 20,
          },
          480: {
            slidesPerView: 3,
            spaceBetween: 30,
          },
          640: {
            slidesPerView: "{{ desktop_slide_per_view }}",
            spaceBetween: 30,
          },
        },
        navigation: {
          nextEl: ".swiper-button-next",
          prevEl: ".swiper-button-prev",
        },
      });
  </script>
</div>

{% schema %}
  {
    "name": "Findify recommendation",
    "tag": "section",
    "class": "section",
    "settings": []
  }
{% endschema %}