{%- capture section_settings -%}
{
  "navigationLayout": {{ section.settings.desktop_navigation_layout | json }},
  "desktopOpenTrigger": {{ section.settings.desktop_navigation_open_trigger | json }},
  "useStickyHeader": {{ section.settings.enable_sticky_header | json }}
}
{%- endcapture -%}

{%- assign navigation_menu_handle = section.settings.navigation_menu | default: 'main-menu' -%}
{%- assign navigation_menu = linklists[navigation_menu_handle] -%}

{%- assign navigation_mobile_menu_handle = section.settings.navigation_mobile_menu | default: navigation_menu_handle -%}
{%- assign navigation_mobile_menu = linklists[navigation_mobile_menu_handle] -%}

<section data-section-id="{{ section.id }}" data-section-type="header" data-section-settings='{{ section_settings }}'>
 {% comment %} <header class="header header--{{ section.settings.desktop_navigation_layout }} {% unless section.settings.show_condensed_search %}header--search-expanded{% endunless %}" role="banner">  {% endcomment %} 
  <header class="header header--{{ section.settings.desktop_navigation_layout }} header--search-expanded" role="banner">
    <div class="container">
      <div class="header__inner">
        {%- comment -%}
        --------------------------------------------------------------------------------------
        MOBILE NAV
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if navigation_menu.links.size > 0 -%}
          <nav class="header__mobile-nav hidden-lap-and-up">
            <button class="header__mobile-nav-toggle icon-state touch-area" data-action="toggle-menu" aria-expanded="false" aria-haspopup="true" aria-controls="mobile-menu" aria-label="{{ 'header.navigation.open_menu' | t }}">
              <span class="icon-state__primary">{%- render 'icon', icon: 'hamburger-mobile' -%}</span>
              <span class="icon-state__secondary">{%- render 'icon', icon: 'close' -%}</span>
            </button>

            {%- render 'mobile-menu', menu: navigation_menu -%}
          </nav>
        {%- endif -%}

        {%- comment -%}
          --------------------------------------------------------------------------------------
          DESKTOP NAV
          --------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if section.settings.desktop_navigation_layout == 'condensed' and navigation_menu.links.size > 0 -%}
          <nav class="header__desktop-nav hidden-pocket">
            <button class="header__desktop-nav-toggle" data-action="toggle-menu" aria-expanded="false" aria-haspopup="true" aria-label="{{ 'header.navigation.open_menu' | t }}">
              <span>{%- render 'icon', icon: 'hamburger' -%} <span class="header__desktop-nav-text">{{- 'header.navigation.menu' | t -}}</span></span>
            </button>

            {%- render 'desktop-menu', menu: navigation_menu, index: 'desktop-menu-0' -%}
          </nav>
        {%- endif -%}

        {%- comment -%}
        --------------------------------------------------------------------------------------
        LOGO COMPONENT
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- capture header_logo -%}
          <a href="{{ routes.root_url }}" class="header__logo-link">
            {%- if section.settings.logo != blank -%}
              {%- capture image_size -%}{{ section.settings.logo_max_width }}x{%- endcapture -%}
              <span class="visually-hidden">{{ shop.name }}</span>
              <img class="header__logo-image"
                   style="max-width: {{ section.settings.logo_max_width }}px"
                   width="{{ section.settings.logo.width }}"
                   height="{{ section.settings.logo.height }}"
                   src="{{ section.settings.logo | img_url: image_size, scale: 2 }}"
                   alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
            {%- else -%}
              <span class="header__logo-text">{{ shop.name }}</span>
            {%- endif -%}
          </a>
        {%- endcapture -%}

        {%- if request.page_type == 'index' -%}
          <h1 class="header__logo">{{ header_logo }}</h1>
        {%- else -%}
          <div class="header__logo">{{ header_logo }}</div>
        {%- endif -%}

        {%- comment -%}
        --------------------------------------------------------------------------------------
        SEARCH COMPONENT
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

{%- comment -%} <div class="header__search-bar-wrapper {% unless section.settings.show_condensed_search %}is-visible{% endunless %}"> {%- endcomment -%}
        <div class="header__search-bar-wrapper is-visible">
          <div class="search-bar">
            {%- assign search_menu = linklists[section.settings.search_menu] -%}

            <div class="search-bar__top-wrapper">
              <div class="search-bar__top">
                <input type="hidden" name="type" value="product">
                <input type="hidden" name="options[prefix]" value="last">
                <input type="hidden" name="options[unavailable_products]" value="{{ settings.search_unavailable_products }}">

                <div class="search-bar__input-wrapper">
{% comment %} <input class="search-bar__input" type="text" name="q" autocomplete="off" autocorrect="off" aria-label="{{ 'header.search.input_placeholder' | t }}" placeholder="{{ 'header.search.input_placeholder' | t }}"> {% endcomment %}
                  <input class="search-bar__input" type="text" name="q" autocomplete="off" autocorrect="off" aria-label="{{ 'header.search.input_placeholder' | t }}" placeholder="Keywords, Model #, Item #">
                  <button type="button" class="search-bar__input-clear hidden-lap-and-up" data-action="clear-input">
                    <span class="visually-hidden">{{ 'header.search.clear' | t }}</span>
                    {% render 'icon', icon: 'close' %}
                  </button>
                </div>

                {%- comment -%}The type detection is sometimes a bit inaccurate as it returns empty type, so we do an additional logic{%- endcomment -%}

                {%- assign has_at_least_one_type = false -%}
                {%- for product_type in shop.types -%}
                  {%- if product_type != blank -%}
                    {%- assign has_at_least_one_type = true -%}
                    {%- break -%}
                  {%- endif -%}
                {%- endfor -%}

                {%- if section.settings.show_search_filter and has_at_least_one_type -%}
                  <div class="search-bar__filter">
                    <label for="search-product-type" class="search-bar__filter-label">
                      <span class="search-bar__filter-active">{{ 'header.search.all_categories' | t }}</span> {%- render 'icon', icon: 'arrow-bottom' -%}
                    </label>

                    <select id="search-product-type">
                      <option value="" selected="selected">{{ 'header.search.all_categories' | t }}</option>

                      {%- for product_type in shop.types -%}
                        {%- if product_type != blank -%}
                          <option value="{{ product_type | escape }}">{{ product_type | escape }}</option>
                        {%- endif -%}
                      {%- endfor -%}
                    </select>
                  </div>
                {%- endif -%}

                <button type="submit" class="search-bar__submit" aria-label="{{ 'header.search.submit' | t }}">
                  {%- render 'icon', icon: 'search' -%}
                  {%- render 'icon', icon: 'search-loader' -%}
                </button>
              </div>

              <button type="button" class="search-bar__close-button hidden-tablet-and-up" data-action="unfix-search">
                <span class="search-bar__close-text">{{ 'header.search.close_search' | t }}</span>
              </button>
            </div>

            <div class="search-bar__inner">
              <div class="search-bar__results" aria-hidden="true">
                <div class="skeleton-container">
                  {%- for i in (1..3) -%}
                    <div class="search-bar__result-item search-bar__result-item--skeleton">
                      <div class="search-bar__image-container">
                        <div class="aspect-ratio aspect-ratio--square">
                          <div class="skeleton-image"></div>
                        </div>
                      </div>

                      <div class="search-bar__item-info">
                        <div class="skeleton-paragraph">
                          <div class="skeleton-text"></div>
                          <div class="skeleton-text"></div>
                        </div>
                      </div>
                    </div>
                  {%- endfor -%}
                </div>

                <div class="search-bar__results-inner">
                  {%- comment -%}Placeholder div for real results{%- endcomment -%}
                </div>
              </div>

              {%- if search_menu.links.size > 0 -%}
                <div class="search-bar__menu-wrapper" aria-hidden="true">
                  {%- if section.settings.show_search_menu_title -%}
                    <p class="search-bar__menu-title heading">{{ search_menu.title }}</p>
                  {%- endif -%}

                  <ul class="search-bar__menu-linklist list--unstyled" role="list">
                    {%- for link in search_menu.links -%}
                      <li>
                        <a href="{{ link.url }}" class="search-bar__menu-link">{{ link.title }}</a>
                      </li>
                    {%- endfor -%}
                  </ul>
                </div>
              {%- endif -%}
            </div>
          </div>
        </div>

        {%- comment -%}
        --------------------------------------------------------------------------------------
        HEADER ACTIONS
        --------------------------------------------------------------------------------------
        {%- endcomment -%}

        {%- if section.settings.show_currency_selector and shop.enabled_currencies.size > 1 -%}
          {%- assign currency_selector = true -%}
        {%- endif -%}

        {%- if section.settings.show_locale_selector and shop.published_locales.size > 1 -%}
          {%- assign locale_selector = true -%}
        {%- endif -%}

        <div class="header__action-list">
        {% comment %}  {%- if locale_selector -%}
            <div class="header__action-item header__action-item--locale hidden-pocket">
              {%- form 'localization', id: 'localization_form_header_locale' -%}
                <span class="header__action-item-title">{{ 'header.general.language' | t }}</span>
                <input type="hidden" name="locale_code" value="{{ form.current_locale.iso_code }}">

                <div class="header__action-item-content">
                  <button class="header__action-item-link" data-action="toggle-popover" aria-controls="desktop-locale-selector" aria-expanded="false">
                    <span class="locale-selector__value">{{ form.current_locale.endonym_name | capitalize }}</span> {% render 'icon', icon: 'arrow-bottom' %}
                  </button>

                  <div id="desktop-locale-selector" class="popover popover--locale" aria-hidden="true">
                    {%- render 'icon', icon: 'nav-triangle-borderless' -%}

                    <div class="popover__inner popover__inner--no-padding">
                      <ul class="popover__linklist" role="list">
                          <li class="popover__linklist-item">
                            <button type="submit" name="locale_code" class="popover__link-item" value="en" {% if 'en' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                              English
                            </button>
                          </li>
                          <li class="popover__linklist-item">
                            <button type="submit" name="locale_code" class="popover__link-item" value="fr" {% if 'fr' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                              Français
                            </button>
                          </li>
                          <li class="popover__linklist-item">
                            <button type="submit" name="locale_code" class="popover__link-item" value="es" {% if 'es' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                              Español
                            </button>
                          </li>
                          <li class="popover__linklist-item">
                            <button type="submit" name="locale_code" class="popover__link-item" value="de" {% if 'de' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                              Deutsch
                            </button>
                          </li>
                          <li class="popover__linklist-item">
                            <button type="submit" name="locale_code" class="popover__link-item" value="it" {% if 'it' == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                              Italiano
                            </button>
                          </li>
                        {%- for locale in form.available_locales -%}
                          {% unless locale.iso_code contains 'en' or locale.iso_code contains 'fr' or locale.iso_code contains 'es' or locale.iso_code contains 'de' or locale.iso_code contains 'it' %}
                            <li class="popover__linklist-item">
                              <button type="submit" name="locale_code" class="popover__link-item" value="{{ locale.iso_code }}" {% if locale.iso_code == form.current_locale.iso_code %}aria-current="true"{% endif %}>
                                {{- locale.endonym_name | capitalize -}}
                              </button>
                            </li>
                          {% endunless %}
                        {%- endfor -%}
                      </ul>
                    </div>
                  </div>
              </div>
             {%- endform -%}
            </div>
          {%- endif -%} {% endcomment %}

          {%- if section.settings.show_condensed_search -%}
            <div id="custom-search-imobile-icon" class="header__action-item hidden-tablet-and-up" style="display:none;">
              <a class="header__action-item-link" href="{{ routes.search_url }}" data-action="toggle-search" aria-expanded="false" aria-label="{{ 'header.search.open_search' | t }}">{% render 'icon', icon: 'search' %}</a>
            </div>
          {%- endif -%}

          {%- if shop.customer_accounts_enabled -%}
            <div class="header__action-item header__action-item--account">
              {%- if customer -%}
                <span class="header__action-item-title hidden-pocket hidden-lap" id="header-action-customer-logged-in-name" data-logged-welcome-text="{{ 'header.general.welcome' | t}}">{{ 'header.general.welcome' | t: first_name: customer.first_name | truncate: 20 }}</span>
              {%- else -%}
                <span class="header__action-item-title hidden-pocket hidden-lap" id="header-action-customer-logged-in-name" data-logged-welcome-text="{{ 'header.general.welcome' | t}}">{{ 'header.general.login' | t }}</span>
              {%- endif -%}

              <div class="header__action-item-content">
                <a href="javascript:void(0)" class="header__action-item-link acc-login-custm icon-state" aria-controls="account-popover" aria-expanded="false" data-action="toggle-popover">
                  <span class="icon-state__primary hidden-desk">{%- render 'icon', icon: 'account' -%}</span>
                  {% comment %} <span class="icon-state__secondary hidden-desk">{%- render 'icon', icon: 'close' -%}</span>  {% endcomment %}
                  <span class="icon-state__secondary hidden-desk">{%- render 'icon', icon: 'account' -%}</span>
                  <span class="hidden-lap hidden-pocket">{{ 'header.general.account' | t }} {% render 'icon', icon: 'arrow-bottom' %}</span>
                </a>

                {% comment %}
                <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="header__action-item-link header__account-icon icon-state hidden-desk" aria-label="{{ 'header.general.account' | t }}" aria-controls="account-popover" aria-expanded="false" data-action="toggle-popover" {% if customer %}data-follow-link="phone"{% endif %}>
                  <span class="icon-state__primary">{%- render 'icon', icon: 'account' -%}</span>
                  <span class="icon-state__secondary">{%- render 'icon', icon: 'close' -%}</span>
                </a>

                <a href="{% if customer %}{{ routes.account_url }}{% else %}{{ routes.account_login_url }}{% endif %}" class="header__action-item-link hidden-pocket hidden-lap" aria-controls="account-popover" aria-expanded="false" data-action="toggle-popover">
                  {{ 'header.general.account' | t }} {% render 'icon', icon: 'arrow-bottom' %}
                </a>
                {% endcomment %}

                <div id="account-popover" class="popover custom-popup-mobile popover--large popover--unlogged" aria-hidden="true">
                  {%- render 'icon', icon: 'nav-triangle-borderless' -%}

                  {%- if customer -%}
                    <div class="popover__panel-list popover__panel-list-fixed-height">
                      <div class="popover__panel popover__panel--default is-selected">
                        <div class="popover__inner">
                          <div class="popover__linklist">
                            <p class="header-customer-logged-menu-header-big-text">
                              <span>Hi {{customer.first_name | truncate: 20 }}</span>
                            </p>
                            <p class="header-customer-logged-menu-header">
                              Where would you like to go?
                            </p>

                            <a class="popover__link-item flits-custom-tab-add" {% if template contains 'customers/account' %}href="#profile" target="_blank"{% else %}href="/account#profile"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-profile' -%}
                              </span>
                              <span>{{ 'flits.navigation.profile' | t }}</span>
                            </a>
                            <a class="popover__link-item flits-custom-tab-add" {% if template contains 'customers/account' %}href="#order" target="_blank"{% else %}href="/account#order"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-order' -%}
                              </span>
                              <span>{{ 'flits.navigation.my_orders' | t }}</span>
                            </a>
                            <a class="popover__link-item flits-custom-tab-add usca" {% if template contains 'customers/account' %}href="#my-quotes" target="_blank"{% else %}href="/account#my-quotes"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-quote' -%}
                              </span>
                              <span>My Quotes</span>
                            </a>
                            <a class="popover__link-item flits-custom-tab-add" {% if template contains 'customers/account' %}href="#address" target="_blank"{% else %}href="/account#address"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-address' -%}
                              </span>
                              <span>{{ 'customer.general.addresses' | t }}</span>
                            </a>

                            <div class="header-customer-logged-menu-logout">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-logout' -%}
                              </span>
                              <span>
                                <a class="popover__link-item custom-logout" href="{{ routes.account_logout_url }}" data-no-instant style="color: #EE0000;">
                                  {{ 'customer.general.logout' | t }}
                                </a>
                              </span>
                            </div>

                            <a class="popover__link-item flits-custom-tab-add" {% if template contains 'customers/account' %}href="#change-password" target="_blank"{% else %}href="/account#change-password"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-change-password' -%}
                              </span>
                              <span>{{ 'flits.navigation.change_password' | t }}</span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  {%- else -%}
                    <div class="popover__panel-list">
                      {%- comment -%}LOGIN{%- endcomment -%}
                      <div id="header-login-panel" class="popover__panel popover__panel--default is-selected">
                        <div class="popover__inner">
                          {%- form 'customer_login', name: 'login', class: 'form', id: 'header_customer_login' -%}
                            <header class="popover__header">
                              {%- comment -%}  <h2 class="popover__title heading">{{ 'customer.login.login' | t }}</h2>  {%- endcomment -%}
                              <h2 class="popover__title heading custom-left"> Sign in </h2>
                              {%- comment -%}  <p class="popover__legend">{{ 'customer.login.description' | t }}</p>  {%- endcomment -%}
                              {% comment %}  <p class="custom-small custom-left"> Don't have an account? <a data-action="show-popover-panel" aria-controls="header-register-panel" class="link link--accented" style="cursor: pointer;">{{ 'customer.login.create_your_account' | t }}</a> </p>                        {% endcomment %}
                              <p class="custom-small custom-left"> Don't have an account? <a class="link link--accented" href="/account/register">{{ 'customer.login.create_your_account' | t }}</a></p>                       
                            </header>

                            <div class="form__input-wrapper form__input-wrapper--labelled">
                              <input type="email" id="login-customer[email]" class="form__field form__field--text" name="customer[email]" required="required">
                              <label for="login-customer[email]" class="form__floating-label">{{ 'customer.login.email' | t }}</label>
                            </div>

                            <div class="form__input-wrapper form__input-wrapper--labelled">
                              <input type="password" id="login-customer[password]" class="form__field form__field--text" name="customer[password]" required="required" autocomplete="current-password">
                              <label for="login-customer[password]" class="form__floating-label">{{ 'customer.login.password' | t }}</label>
                            </div>

                            <p class="custom-small custom-left" id="header_customer_login_message"></p>

                            <button type="submit" class="form__submit button button--primary button--full">{{ 'customer.login.submit' | t }}</button>
                          {%- endform -%}

                          <div class="popover__secondary-action" id="header_customer_login_secondary_action">
                            {% comment %} <p>{{ 'customer.login.new_customer' | t }} <button data-action="show-popover-panel" aria-controls="header-register-panel" class="link link--accented">{{ 'customer.login.create_your_account' | t }}</button></p> {% endcomment %}
                            <p>{{ 'customer.login.lost_password' | t }} <button data-action="show-popover-panel" aria-controls="header-recover-panel" class="link link--accented">{{ 'customer.login.recover_password' | t }}</button></p>
                          </div>

                          <div class="popover__linklist" id="header_customer_logged_menu" style="display: none;">
                            <p class="header-customer-logged-menu-header-big-text">
                              <span>Hi <span id="account-popover-customer-logged-in-name"></span></span>
                            </p>
                            <p class="header-customer-logged-menu-header">
                              Where would you like to go?
                            </p>

                            <a class="popover__link-item flits-custom-tab-add" {% if template contains 'customers/account' %}href="#profile" target="_blank"{% else %}href="/account#profile"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-profile' -%}
                              </span>
                              <span>{{ 'flits.navigation.profile' | t }}</span>
                            </a>
                            <a class="popover__link-item flits-custom-tab-add" {% if template contains 'customers/account' %}href="#order" target="_blank"{% else %}href="/account#order"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-order' -%}
                              </span>
                              <span>{{ 'flits.navigation.my_orders' | t }}</span>
                            </a>
                            <a class="popover__link-item flits-custom-tab-add usca" {% if template contains 'customers/account' %}href="#my-quotes" target="_blank"{% else %}href="/account#my-quotes"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-quote' -%}
                              </span>
                              <span>My Quotes</span>
                            </a>
                            <a class="popover__link-item flits-custom-tab-add" {% if template contains 'customers/account' %}href="#address" target="_blank"{% else %}href="/account#address"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-address' -%}
                              </span>
                              <span>{{ 'customer.general.addresses' | t }}</span>
                            </a>

                            <div class="header-customer-logged-menu-logout">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-logout' -%}
                              </span>
                              <span>
                                <a class="popover__link-item custom-logout" href="{{ routes.account_logout_url }}" data-no-instant style="color: #EE0000;">
                                  {{ 'customer.general.logout' | t }}
                                </a>
                              </span>
                            </div>
                            
                            <a class="popover__link-item flits-custom-tab-add" {% if template contains 'customers/account' %}href="#changePassword" target="_blank"{% else %}href="/account#changePassword"{% endif %} style="display: flex;">
                              <span class="header-customer-logged-menu-icon">
                                {%- render 'icon', icon: 'customer-account-change-password' -%}
                              </span>
                              <span>{{ 'flits.navigation.change_password' | t }}</span>
                            </a>
                          </div>
                        </div>
                      </div>

                      {%- comment -%}RECOVER{%- endcomment -%}
                      <div id="header-recover-panel" class="popover__panel popover__panel--sliding">
                        <div class="popover__inner">
                          {%- form 'recover_customer_password', name: 'recover', class: 'form' -%}
                            <header class="popover__header">
                              <h2 class="popover__title heading">{{ 'customer.recover_password.recover_password' | t }}</h2>
                              <p class="popover__legend">{{ 'customer.recover_password.description' | t }}</p>
                            </header>

                            <div class="form__input-wrapper form__input-wrapper--labelled">
                              <input type="email" id="recover-customer[recover_email]" class="form__field form__field--text" name="email" required="required">
                              <label for="recover-customer[recover_email]" class="form__floating-label">{{ 'customer.recover_password.email' | t }}</label>
                            </div>

                            <button type="submit" class="form__submit button button--primary button--full">{{ 'customer.recover_password.submit' | t }}</button>
                          {%- endform -%}

                          <div class="popover__secondary-action">
                            <p>{{ 'customer.recover_password.remembered_your_password' | t }} <button data-action="show-popover-panel" aria-controls="header-login-panel" class="link link--accented">{{ 'customer.recover_password.back_to_login' | t }}</button></p>
                          </div>
                        </div>
                      </div>

                      {%- comment -%}REGISTER{%- endcomment -%}
                      <div id="header-register-panel" class="popover__panel popover__panel--sliding">
                        <div class="popover__inner">
                          {%- form 'create_customer', name: 'create', class: 'form', data-cf-ignore="true" -%}
                            <header class="popover__header">
                              <h2 class="popover__title heading">{{ 'customer.register.create_account' | t }}</h2>
                              <p class="popover__legend">{{ 'customer.register.description' | t }}</p>
                            </header>

                            <div class="form__input-wrapper form__input-wrapper--labelled">
                              <input type="text" id="register-customer[first_name]" class="form__field form__field--text" name="customer[first_name]" required="required">
                              <label for="register-customer[first_name]" class="form__floating-label">{{ 'customer.register.first_name' | t }}</label>
                            </div>

                            <div class="form__input-wrapper form__input-wrapper--labelled">
                              <input type="text" id="register-customer[last_name]" class="form__field form__field--text" name="customer[last_name]" required="required">
                              <label for="register-customer[last_name]" class="form__floating-label">{{ 'customer.register.last_name' | t }}</label>
                            </div>

                            <div class="form__input-wrapper form__input-wrapper--labelled">
                              <input type="email" id="register-customer[email]" class="form__field form__field--text" name="customer[email]" required="required">
                              <label for="register-customer[email]" class="form__floating-label">{{ 'customer.register.email' | t }}</label>
                            </div>

                            <div class="form__input-wrapper form__input-wrapper--labelled">
                              <input type="password" id="register-customer[password]" class="form__field form__field--text" name="customer[password]" required="required" autocomplete="new-password">
                              <label for="register-customer[password]" class="form__floating-label">{{ 'customer.register.password' | t }}</label>
                            </div>

                            <button type="submit" class="form__submit button button--primary button--full">{{ 'customer.register.submit' | t }}</button>
                          {%- endform -%}

                          <div class="popover__secondary-action">
                            <p>{{ 'customer.register.already_have_account' | t }} <button data-action="show-popover-panel" aria-controls="header-login-panel" class="link link--accented">{{ 'customer.register.login' | t }}</button></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {%- endif -%}
                </div>
              </div>
            </div>
          {%- endif -%}

          <div class="header__action-item header__action-item--cart cust-cart-drawer">
            <a class="header__action-item-link header__cart-toggle" href="{{ routes.cart_url }}" {% if settings.cart_type == 'drawer' and template != 'cart' %}aria-controls="mini-cart" aria-expanded="false" data-action="toggle-mini-cart"{% endif %} data-no-instant>
              <div class="header__action-item-content">
                <div class="header__cart-icon icon-state">
                  <!-- removed aria-expanded="false" from above line -->
                  <span class="icon-state__primary">
                    {%- render 'icon', icon: 'cart' -%}
                    <span class="header__cart-count">{{ cart.item_count }}</span>
                  </span>

                  <span class="icon-state__secondary">{%- render 'icon', icon: 'close' -%}</span>
                </div>

                <span class="hidden-pocket hidden-lap">{{ 'header.general.cart' | t }}</span>
              </div>
            </a>

            {%- if settings.cart_type == 'drawer' and template != 'cart' -%}
                {%- render 'mini-cart' -%}
            {%- endif -%}
          </div>
        </div>
      </div>
    </div>
  </header>
</section>

{% include 'header-menu-desktop' %}                 
                
<style>
  :root {
    --header-is-sticky: {% if section.settings.enable_sticky_header %}1{% else %}0{% endif %};
    --header-inline-navigation: {% if section.settings.desktop_navigation_layout == 'inline' %}1{% else %}0{% endif %};
  }

  #shopify-section-{{ section.id }} {
    position: relative;
{% comment %}     z-index: 99 !important; {% endcomment %}

    {%- if section.settings.enable_sticky_header -%}
      position: -webkit-sticky;
      position: sticky;
      top: 0;
    {%- endif -%}
  }

  @media screen and (max-width: 999px) {
    #shopify-section-{{ section.id }} {
       z-index: 99 !important;
    }
  }

  {%- if section.settings.logo -%}
    .header__logo-image {
      max-width: {{ section.settings.mobile_logo_max_width }}px !important;
    }

    @media screen and (min-width: 767px) {
      .header__logo-image {
        max-width: {{ section.settings.logo_max_width }}px !important;
      }
    }

    @media screen and (max-width: 480px) {
      .header__logo-image {
        max-width: 170px !important;
      }
    }

    @media screen and (max-width: 365px) {
      .header__logo-image {
        max-width: 155px !important;
      }
    }
  {%- endif -%}

  {%- if settings.header_background == settings.secondary_background -%}
    .search-bar__top {
      box-shadow: 1px 1px var(--header-border-color) inset, -1px -1px var(--header-border-color) inset;
    }

    @media screen and (min-width: 1000px) {
      /* This allows to reduce the padding if header background is the same as secondary background to avoid space that is too big */
      .header:not(.header--condensed) {
        padding-bottom: 0;
      }
    }
  {%- else -%}
    @media screen and (min-width: 1000px) {
      .search-bar.is-expanded .search-bar__top {
        box-shadow: 0 -1px var(--border-color) inset;
      }
    }
  {%- endif -%}
  
  {%- if section.settings.enable_sticky_header_mobile -%}
   @media screen and (max-width: 640px) {
    #shopify-section-{{ section.id }} {
      position: -webkit-sticky;
      position: sticky;
      top: 0; 
    }
   }
  {% endif %}
  
</style>

<script>
  jQuery( document ).ready(function() {
    /*jQuery(".monitor .catitemsnav li > a,.dicom .catitemsnav li,.dictation-mics .catitemsnav li").click(function(event){
      event.preventDefault();
    });*/
    jQuery('.monitor .catitemsnav li').hover(function(){
      jQuery(this).siblings().removeClass('active');
      jQuery(this).addClass('active');
      jQuery('.monitor .topcatitems > li').eq(jQuery(this).index()).addClass('active').siblings().removeClass('active');
      jQuery('.monitor .topsizeitem > li').eq(jQuery(this).index()).addClass('active').siblings().removeClass('active');
    });
    jQuery('.dicom .catitemsnav li').hover(function(){
      jQuery(this).siblings().removeClass('active');
      jQuery(this).addClass('active');
      jQuery('.dicom .topcatitems > li').eq(jQuery(this).index()).addClass('active').siblings().removeClass('active');
      jQuery('.dicom .topsizeitem > li').eq(jQuery(this).index()).addClass('active').siblings().removeClass('active');
    });
    jQuery('.dictation-mics .catitemsnav li').hover(function(){
      jQuery(this).siblings().removeClass('active');
      jQuery(this).addClass('active');
      jQuery('.dictation-mics .topcatitems > li').eq(jQuery(this).index()).addClass('active').siblings().removeClass('active');
      jQuery('.dictation-mics .topsizeitem > li').eq(jQuery(this).index()).addClass('active').siblings().removeClass('active');
    });

    var isButtonClicked = false;

    $('#custom-search-imobile-icon').click(function() {
      if (isButtonClicked) {
        $('.product_tab_wrap').css({
          'position': '',
          'top': '',
          'margin-left': '',
          'width': '',
          'margin-top': '' 
        });
        isButtonClicked = false;
      } else {
        $('.product_tab_wrap').css({
          'position': 'relative',
          'top': 'auto',
          'margin-left': 'auto',
          'width': 'auto',
          'margin-top': '0px' 
        });
        isButtonClicked = true;
      }
    });

      // mobile search bar logic
      // Get the div element
      const $divElement = $('.header__search-bar-wrapper');
      
      // Add event listener to window for scroll event
      $(window).on('scroll', () => {
        $('#custom-search-imobile-icon').show();    
        // Get the current scroll position
        const scrollPosition = $(window).scrollTop();
      
        // Check if the div element is visible
        const isVisible = $divElement.offset().top < $(window).innerHeight();
      
        // If the div element is visible and has the visible class, remove it
        if (isVisible && $divElement.hasClass('is-visible') && scrollPosition > 0) {
          $divElement.removeClass('is-visible');  
          $('.header').removeClass('header--search-expanded');
        }

        // Check if the user has scrolled back to the top
        if (scrollPosition === 0) {
          $('#custom-search-imobile-icon').hide();   
          $('.header').addClass('header--search-expanded');
          $divElement.addClass('is-visible');
        } 
      });  
  });
  document.documentElement.style.setProperty('--header-height', document.getElementById('shopify-section-{{ section.id }}').clientHeight + 'px');

</script>

{% schema %}
{
  "name": "Header",
  "class": "shopify-section__header",
  "settings": [
    {
      "type": "checkbox",
      "id": "enable_sticky_header",
      "label": "Enable sticky header",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "enable_sticky_header_mobile",
      "label": "Enable sticky header mobile",
      "default": true
    },
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "image_picker",
      "id": "logo",
      "label": "Image",
      "info": "400 x 120px .png recommended"
    },
    {
      "type": "range",
      "id": "logo_max_width",
      "min": 50,
      "max": 300,
      "step": 5,
      "unit": "px",
      "label": "Image width",
      "default": 140
    },
    {
      "type": "range",
      "id": "mobile_logo_max_width",
      "min": 50,
      "max": 170,
      "step": 5,
      "unit": "px",
      "label": "Mobile image width",
      "default": 100
    },
    {
      "type": "header",
      "content": "Language selector",
      "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
    },
    {
      "type": "checkbox",
      "id": "show_locale_selector",
      "label": "Show language selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Currency selector",
      "info": "To add a currency, go to your [payment settings.](/admin/settings/payments)"
    },
    {
      "type": "checkbox",
      "id": "show_currency_selector",
      "label": "Show currency selector",
      "default": true
    },
    {
      "type": "header",
      "content": "Navigation"
    },
    {
      "type": "link_list",
      "id": "navigation_menu",
      "label": "Menu",
      "default": "main-menu"
    },
    {
      "type": "link_list",
      "id": "navigation_mobile_menu",
      "label": "Mobile menu",
      "info": "If none is set, the desktop menu is used."
    },
    {
      "type": "select",
      "id": "desktop_navigation_layout",
      "label": "Desktop layout",
      "options": [
        {
          "value": "condensed",
          "label": "Condensed"
        },
        {
          "value": "inline",
          "label": "Inline"
        }
      ],
      "default": "condensed"
    },
    {
      "type": "select",
      "id": "desktop_navigation_open_trigger",
      "label": "Open dropdown on...",
      "options": [
        {
          "value": "hover",
          "label": "Hover"
        },
        {
          "value": "click",
          "label": "Click"
        }
      ],
      "default": "hover"
    },
    {
      "type": "header",
      "content": "Mobile navigation"
    },
    {
      "type": "checkbox",
      "id": "show_navigation_social_media",
      "label": "Show social media",
      "default": true
    },
    {
      "type": "text",
      "id": "navigation_phone_number",
      "label": "Phone number text"
    },
    {
      "type": "text",
      "id": "navigation_email",
      "label": "Email"
    },
    {
      "type": "header",
      "content": "Search"
    },
    {
      "type": "checkbox",
      "id": "show_condensed_search",
      "label": "Minimise search on mobile",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "show_search_filter",
      "label": "Show search filter",
      "default": true,
      "info": "Refine by product type. [Learn more](https://support.maestrooo.com/article/184-navigation-filtering-search-results-by-product-type)"
    },
    {
      "type": "link_list",
      "id": "search_menu",
      "label": "Quick links menu",
      "info": "Show quick links when the user hasn't type anything. This menu won't show dropdown items."
    },
    {
      "type": "checkbox",
      "id": "show_search_menu_title",
      "label": "Show quick links title",
      "default": true
    },
    {
      "type": "header",
      "content": "More Links"
    },
    {
      "type": "textarea",
      "id": "text1",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "textlink1",
      "label": "link"
    },
    {
      "type": "color",
      "id": "color",
      "label": "color"
    },
    {
      "type": "textarea",
      "id": "text2",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "textlink2",
      "label": "link"
    },
    {
      "type": "textarea",
      "id": "text3",
      "label": "Title"
    },
    {
      "type": "url",
      "id": "textlink3",
      "label": "link"
    }
  ],
  "blocks": [
    {
      "type": "monitors_menu",
      "name": "Monitors Menu",
	  "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "ADD MONITORS MENU DATA HERE"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu title"
        },
		{
          "type": "url",
          "id": "m_menu_link",
          "label": "Menu Link"
        },
        {
          "type": "image_picker",
          "id": "m_menu_icon",
          "label": "Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "m_menu_hover_icon",
          "label": "Menu Hover Icon"
        },
		{
          "type": "image_picker",
          "id": "m_mob_menu_icon",
          "label": "Mobile Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "m_mob_menu_wht_icon",
          "label": "Mobile Menu White Icon"
        },
		{
          "type": "paragraph",
          "content": "SHOP BY CATEGORIES SECTION"
        },
		{
          "type": "text",
          "id": "m_section_title",
          "label": "Section Title"
        },
        {
          "type": "image_picker",
          "id": "m_cat_icon1",
          "label": "Category Icon 1"
        },
		{
          "type": "image_picker",
          "id": "m_cat_hover_icon1",
          "label": "Category Hover Icon 1"
        },
		{
          "type": "image_picker",
          "id": "m_cat_mob_icon1",
          "label": "Category Mobile Icon 1"
        },
		{
          "type": "text",
          "id": "m_cat_label1",
          "label": "Category Text 1"
        },
		{
          "type": "text",
          "id": "m_cat_pro_sec_label1",
          "label": "Category Product Section Label"
        },
		{
          "type": "url",
          "id": "m_cat_url1",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "m_cat_icon2",
          "label": "Category Icon 2"
        },
		{
          "type": "image_picker",
          "id": "m_cat_hover_icon2",
          "label": "Category Hover Icon 2"
        },
		{
          "type": "image_picker",
          "id": "m_cat_mob_icon2",
          "label": "Category Mobile Icon 2"
        },
		{
          "type": "text",
          "id": "m_cat_label2",
          "label": "Category Text 2"
        },
		{
          "type": "text",
          "id": "m_cat_pro_sec_label2",
          "label": "Category Product Section Label"
        },
		{
          "type": "url",
          "id": "m_cat_url2",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "m_cat_icon3",
          "label": "Category Icon 3"
        },
		{
          "type": "image_picker",
          "id": "m_cat_hover_icon3",
          "label": "Category Hover Icon 3"
        },
		{
          "type": "image_picker",
          "id": "m_cat_mob_icon3",
          "label": "Category Mobile Icon 3"
        },
		{
          "type": "text",
          "id": "m_cat_label3",
          "label": "Category Text 3"
        },
		{
          "type": "text",
          "id": "m_cat_pro_sec_label3",
          "label": "Category Product Section Label"
        },
		{
          "type": "url",
          "id": "m_cat_url3",
          "label": "Select Collection"
        },
        {
          "type": "image_picker",
          "id": "m_cat_icon6",
          "label": "Category Icon 4"
        },
		{
          "type": "image_picker",
          "id": "m_cat_hover_icon6",
          "label": "Category Hover Icon 4"
        },
		{
          "type": "image_picker",
          "id": "m_cat_mob_icon6",
          "label": "Category Mobile Icon 4"
        },
		{
          "type": "text",
          "id": "m_cat_label6",
          "label": "Category Text 4"
        },
		{
          "type": "text",
          "id": "m_cat_pro_sec_label6",
          "label": "Category Product Section Label"
        },
		{
          "type": "url",
          "id": "m_cat_url6",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "m_cat_icon4",
          "label": "Category Icon 5"
        },
		{
          "type": "image_picker",
          "id": "m_cat_hover_icon4",
          "label": "Category Hover Icon 5"
        },
		{
          "type": "image_picker",
          "id": "m_cat_mob_icon4",
          "label": "Category Mobile Icon 5"
        },
		{
          "type": "text",
          "id": "m_cat_label4",
          "label": "Category Text 5"
        },
		{
          "type": "text",
          "id": "m_cat_pro_sec_label4",
          "label": "Category Product Section Label"
        },
		{
          "type": "url",
          "id": "m_cat_url4",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "m_cat_icon5",
          "label": "Category Icon 6"
        },
		{
          "type": "image_picker",
          "id": "m_cat_hover_icon5",
          "label": "Category Hover Icon 6"
        },
		{
          "type": "image_picker",
          "id": "m_cat_mob_icon5",
          "label": "Category Mobile Icon 6"
        },
		{
          "type": "text",
          "id": "m_cat_label5",
          "label": "Category Text 6"
        },
		{
          "type": "text",
          "id": "m_cat_pro_sec_label5",
          "label": "Category Product Section Label"
        },
		{
          "type": "url",
          "id": "m_cat_url5",
          "label": "Select Collection"
        },
		{ "type": "text", "id": "m_view_all_label", "label": "View All Label" },
		{ "type": "url", "id": "m_view_all_link", "label": "View All URL" },
		
		{
          "type": "paragraph",
		  "content": "SCREEN SIZE CATEGORY 1"
        },
		{ "type": "text", "id": "m_size_sec_cat_label1", "label": "Size Section Title" },
		
		{ "type": "text", "id": "size_cat1_item_label1", "label": "Size Label" },
		{ "type": "url", "id": "size_cat1_item_url1", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat1_show_ribbons1", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat1_item_label2", "label": "Size Label" },
		{ "type": "url", "id": "size_cat1_item_url2", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat1_show_ribbons2", "label": "Show Ribbons", "default": false },
        { "type": "text", "id": "size_cat1_item_label3", "label": "Size Label" },
        { "type": "url", "id": "size_cat1_item_url3", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat1_show_ribbons3", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat1_item_label4", "label": "Size Label" },
		{ "type": "url", "id": "size_cat1_item_url4", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat1_show_ribbons4", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat1_item_label5", "label": "Size Label" },
		{ "type": "url", "id": "size_cat1_item_url5", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat1_show_ribbons5", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat1_item_label6", "label": "Size Label" },
		{ "type": "url", "id": "size_cat1_item_url6", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat1_show_ribbons6", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat1_item_label7", "label": "Size Label" },
		{ "type": "url", "id": "size_cat1_item_url7", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat1_show_ribbons7", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat1_item_label8", "label": "Size Label" },
		{ "type": "url", "id": "size_cat1_item_url8", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat1_show_ribbons8", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat1_item_label9", "label": "Size Label" },
		{ "type": "url", "id": "size_cat1_item_url9", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat1_show_ribbons9", "label": "Show Ribbons", "default": false },
		{
          "type": "paragraph",
		  "content": "SCREEN SIZE CATEGORY 2"
        },
		{ "type": "text", "id": "m_size_sec_cat_label2", "label": "Size Section Title" },
		
		{ "type": "text", "id": "size_cat2_item_label1", "label": "Size Label" },
		{ "type": "url", "id": "size_cat2_item_url1", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat2_show_ribbons1", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat2_item_label2", "label": "Size Label" },
		{ "type": "url", "id": "size_cat2_item_url2", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat2_show_ribbons2", "label": "Show Ribbons", "default": false },
        { "type": "text", "id": "size_cat2_item_label3", "label": "Size Label" },
        { "type": "url", "id": "size_cat2_item_url3", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat2_show_ribbons3", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat2_item_label4", "label": "Size Label" },
		{ "type": "url", "id": "size_cat2_item_url4", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat2_show_ribbons4", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat2_item_label5", "label": "Size Label" },
		{ "type": "url", "id": "size_cat2_item_url5", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat2_show_ribbons5", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat2_item_label6", "label": "Size Label" },
		{ "type": "url", "id": "size_cat2_item_url6", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat2_show_ribbons6", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat2_item_label7", "label": "Size Label" },
		{ "type": "url", "id": "size_cat2_item_url7", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat2_show_ribbons7", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat2_item_label8", "label": "Size Label" },
		{ "type": "url", "id": "size_cat2_item_url8", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat2_show_ribbons8", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat2_item_label9", "label": "Size Label" },
		{ "type": "url", "id": "size_cat2_item_url9", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat2_show_ribbons9", "label": "Show Ribbons", "default": false },
		{
          "type": "paragraph",
		  "content": "SCREEN SIZE CATEGORY 3"
        },
		{ "type": "text", "id": "m_size_sec_cat_label3", "label": "Size Section Title" },
		
		{ "type": "text", "id": "size_cat3_item_label1", "label": "Size Label" },
		{ "type": "url", "id": "size_cat3_item_url1", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat3_show_ribbons1", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat3_item_label2", "label": "Size Label" },
		{ "type": "url", "id": "size_cat3_item_url2", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat3_show_ribbons2", "label": "Show Ribbons", "default": false },
        { "type": "text", "id": "size_cat3_item_label3", "label": "Size Label" },
        { "type": "url", "id": "size_cat3_item_url3", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat3_show_ribbons3", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat3_item_label4", "label": "Size Label" },
		{ "type": "url", "id": "size_cat3_item_url4", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat3_show_ribbons4", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat3_item_label5", "label": "Size Label" },
		{ "type": "url", "id": "size_cat3_item_url5", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat3_show_ribbons5", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat3_item_label6", "label": "Size Label" },
		{ "type": "url", "id": "size_cat3_item_url6", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat3_show_ribbons6", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat3_item_label7", "label": "Size Label" },
		{ "type": "url", "id": "size_cat3_item_url7", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat3_show_ribbons7", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat3_item_label8", "label": "Size Label" },
		{ "type": "url", "id": "size_cat3_item_url8", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat3_show_ribbons8", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat3_item_label9", "label": "Size Label" },
		{ "type": "url", "id": "size_cat3_item_url9", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat3_show_ribbons9", "label": "Show Ribbons", "default": false },
		{
          "type": "paragraph",
		  "content": "SCREEN SIZE CATEGORY 4"
        },
		{ "type": "text", "id": "m_size_sec_cat_label4", "label": "Size Section Title" },
		
		{ "type": "text", "id": "size_cat4_item_label1", "label": "Size Label" },
		{ "type": "url", "id": "size_cat4_item_url1", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat4_show_ribbons1", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat4_item_label2", "label": "Size Label" },
		{ "type": "url", "id": "size_cat4_item_url2", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat4_show_ribbons2", "label": "Show Ribbons", "default": false },
        { "type": "text", "id": "size_cat4_item_label3", "label": "Size Label" },
        { "type": "url", "id": "size_cat4_item_url3", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat4_show_ribbons3", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat4_item_label4", "label": "Size Label" },
		{ "type": "url", "id": "size_cat4_item_url4", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat4_show_ribbons4", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat4_item_label5", "label": "Size Label" },
		{ "type": "url", "id": "size_cat4_item_url5", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat4_show_ribbons5", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat4_item_label6", "label": "Size Label" },
		{ "type": "url", "id": "size_cat4_item_url6", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat4_show_ribbons6", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat4_item_label7", "label": "Size Label" },
		{ "type": "url", "id": "size_cat4_item_url7", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat4_show_ribbons7", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat4_item_label8", "label": "Size Label" },
		{ "type": "url", "id": "size_cat4_item_url8", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat4_show_ribbons8", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat4_item_label9", "label": "Size Label" },
		{ "type": "url", "id": "size_cat4_item_url9", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat4_show_ribbons9", "label": "Show Ribbons", "default": false },
		{
          "type": "paragraph",
		  "content": "SCREEN SIZE CATEGORY 5"
        },
		{ "type": "text", "id": "m_size_sec_cat_label5", "label": "Size Section Title" },
		
		{ "type": "text", "id": "size_cat5_item_label1", "label": "Size Label" },
		{ "type": "url", "id": "size_cat5_item_url1", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat5_show_ribbons1", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat5_item_label2", "label": "Size Label" },
		{ "type": "url", "id": "size_cat5_item_url2", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat5_show_ribbons2", "label": "Show Ribbons", "default": false },
        { "type": "text", "id": "size_cat5_item_label3", "label": "Size Label" },
        { "type": "url", "id": "size_cat5_item_url3", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat5_show_ribbons3", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat5_item_label4", "label": "Size Label" },
		{ "type": "url", "id": "size_cat5_item_url4", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat5_show_ribbons4", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat5_item_label5", "label": "Size Label" },
		{ "type": "url", "id": "size_cat5_item_url5", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat5_show_ribbons5", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat5_item_label6", "label": "Size Label" },
		{ "type": "url", "id": "size_cat5_item_url6", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat5_show_ribbons6", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat5_item_label7", "label": "Size Label" },
		{ "type": "url", "id": "size_cat5_item_url7", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat5_show_ribbons7", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat5_item_label8", "label": "Size Label" },
		{ "type": "url", "id": "size_cat5_item_url8", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat5_show_ribbons8", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "size_cat5_item_label9", "label": "Size Label" },
		{ "type": "url", "id": "size_cat5_item_url9", "label": "Size URL" },
		{ "type": "checkbox", "id": "size_cat5_show_ribbons9", "label": "Show Ribbons", "default": false },

		{
          "type": "paragraph",
		  "content": "SIDEBAR"
        },
		{
          "type": "image_picker",
          "id": "m_left_img",
          "label": "Image"
        },
		{
          "type": "url",
          "id": "m_left_img_url",
          "label": "Imge URL"
        },
		{
          "type": "text",
          "id": "m_featured_products_title",
          "label": "Featured Products Section Title"
        },
		{
          "type": "product",
          "id": "m_featured_products1",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "m_featured_products2",
          "label": "Select Product"
        },
		{
          "type": "article",
          "id": "m_featured_article1",
          "label": "Select Article"
        },
		{
          "type": "paragraph",
		  "content": "BOTTOM ICONS"
        },
		{
          "type": "image_picker",
          "id": "bottom_icon1",
          "label": "Icon 1"
        },
		{
          "type": "text",
          "id": "bottom_icon1label",
          "label": "Icon 1 Label"
        },
        {
          "type": "url",
          "id": "bottom_icon1link",
          "label": "Icon 1 link"
        },
        {
          "type": "image_picker",
          "id": "bottom_icon2",
          "label": "Icon 2"
        },
		{
          "type": "text",
          "id": "bottom_icon2label",
          "label": "Icon 2 Label"
        },
        {
          "type": "url",
          "id": "bottom_icon2link",
          "label": "Icon 2 link"
        },
        {
          "type": "image_picker",
          "id": "bottom_icon3",
          "label": "Icon 3"
        },
		{
          "type": "text",
          "id": "bottom_icon3label",
          "label": "Icon 3 Label"
        },
        {
          "type": "url",
          "id": "bottom_icon3link",
          "label": "Icon 3 link"
        },
        {
          "type": "image_picker",
          "id": "bottom_icon4",
          "label": "Icon 4"
        },
		{
          "type": "text",
          "id": "bottom_icon4label",
          "label": "Icon 4 Label"
        },
        {
          "type": "url",
          "id": "bottom_icon4link",
          "label": "Icon 4 link"
        },
		{
          "type": "paragraph",
		  "content": "MOBILE MANUFACTURE SECTION"
        },
		{
          "type": "text",
          "id": "m_manufa_sec_title",
          "label": "Section Title"
        },
		{
          "type": "url",
          "id": "m_manufa_url1",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "m_manufa_name1",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "m_manufa_url2",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "m_manufa_name2",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "m_manufa_url3",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "m_manufa_name3",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "m_manufa_url4",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "m_manufa_name4",
          "label": "Name"
        },
		{
          "type": "paragraph",
		  "content": "MOBILE SIZE SECTION"
        },
		{ "type": "text", "id": "m_size_item_label1", "label": "Size Label" },
		{ "type": "url", "id": "m_size_item_url1", "label": "Size URL" },
		{ "type": "checkbox", "id": "m_size_show_ribbons1", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "m_size_item_label2", "label": "Size Label" },
		{ "type": "url", "id": "m_size_item_url2", "label": "Size URL" },
		{ "type": "checkbox", "id": "m_size_show_ribbons2", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "m_size_item_label3", "label": "Size Label" },
		{ "type": "url", "id": "m_size_item_url3", "label": "Size URL" },
		{ "type": "checkbox", "id": "m_size_show_ribbons3", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "m_size_item_label4", "label": "Size Label" },
		{ "type": "url", "id": "m_size_item_url4", "label": "Size URL" },
		{ "type": "checkbox", "id": "m_size_show_ribbons4", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "m_size_item_label5", "label": "Size Label" },
		{ "type": "url", "id": "m_size_item_url5", "label": "Size URL" },
		{ "type": "checkbox", "id": "m_size_show_ribbons5", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "m_size_item_label6", "label": "Size Label" },
		{ "type": "url", "id": "m_size_item_url6", "label": "Size URL" },
		{ "type": "checkbox", "id": "m_size_show_ribbons6", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "m_size_item_label7", "label": "Size Label" },
		{ "type": "url", "id": "m_size_item_url7", "label": "Size URL" },
		{ "type": "checkbox", "id": "m_size_show_ribbons7", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "m_size_item_label8", "label": "Size Label" },
		{ "type": "url", "id": "m_size_item_url8", "label": "Size URL" },
		{ "type": "checkbox", "id": "m_size_show_ribbons8", "label": "Show Ribbons", "default": false },
		{ "type": "text", "id": "m_size_item_label9", "label": "Size Label" },
		{ "type": "url", "id": "m_size_item_url9", "label": "Size URL" },
		{ "type": "checkbox", "id": "m_size_show_ribbons9", "label": "Show Ribbons", "default": false }
      ]
    },
    {
      "type": "workstations_menu",
      "name": "Workstations Menu",
	  "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "ADD WORKSTATIONS MENU DATA HERE"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu title"
        },
		{
          "type": "url",
          "id": "w_menu_link",
          "label": "Menu Link"
        },
        {
          "type": "image_picker",
          "id": "w_menu_icon",
          "label": "Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "w_menu_hover_icon",
          "label": "Menu Hover Icon"
        },
		{
          "type": "image_picker",
          "id": "w_mob_menu_icon",
          "label": "Mobile Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "w_mob_menu_wht_icon",
          "label": "Mobile Menu White Icon"
        },
        {
          "type": "paragraph",
          "content": "TOP SELLING TOWER WORKSTATIONS"
        },
		{
          "type": "text",
          "id": "w_section_title",
          "label": "Section Title"
        },
		{
          "type": "url",
          "id": "w_section_url",
          "label": "Select Collection"
        },	
        {
          "type": "paragraph",
          "content": "TOP SELLING MOBILE WORKSTATIONS"
        },
		{
          "type": "text",
          "id": "mobile_workstation_section_title",
          "label": "Section Title"
        },
		{
          "type": "url",
          "id": "mobile_workstation_section_url",
          "label": "Select Collection"
        },
		{ "type": "url", "id": "w_view_all_link", "label": "View All URL" },
		{ "type": "text", "id": "w_view_all_label", "label": "View All Text" },
		{
          "type": "paragraph",
		  "content": "SIDEBAR"
        },
		{
          "type": "image_picker",
          "id": "w_left_img",
          "label": "Image"
        },
		{
          "type": "url",
          "id": "w_left_img_url",
          "label": "Imge URL"
        },
		{
          "type": "text",
          "id": "w_featured_products_title",
          "label": "Featured Section Title"
        },
		{
          "type": "article",
          "id": "w_featured_article1",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "w_featured_article2",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "w_featured_article3",
          "label": "Select Article"
        },
		{
          "type": "paragraph",
		  "content": "MOBILE FEATURED PRODUCTS"
        },
		{
          "type": "product",
          "id": "w_featured_products1",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "w_featured_products2",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "w_featured_products3",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "w_featured_products4",
          "label": "Select Product"
        },
		{
          "type": "paragraph",
		  "content": "MOBILE MANUFACTURE SECTION"
        },
		{
          "type": "text",
          "id": "w_manufa_sec_title",
          "label": "Section Title"
        },
		{
          "type": "url",
          "id": "w_manufa_url1",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "w_manufa_name1",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "w_manufa_url2",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "w_manufa_name2",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "w_manufa_url3",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "w_manufa_name3",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "w_manufa_url4",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "w_manufa_name4",
          "label": "Name"
        },
		{ "type": "text", "id": "w_manufa_viewall_label", "label": "View All Text" },
		{ "type": "url", "id": "w_manufa_viewall_link", "label": "View All URL" }
      ]
    },
     {
      "type": "crs_menu",
      "name": "Reading Stations Menu",
   	  "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "ADD COMPLETE READING STATIONS MENU DATA HERE"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu title"
        },
		{
          "type": "url",
          "id": "crs_menu_link",
          "label": "Menu Link"
        },
        {
          "type": "image_picker",
          "id": "crs_menu_icon",
          "label": "Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "crs_menu_hover_icon",
          "label": "Menu Hover Icon"
        },
		{
          "type": "image_picker",
          "id": "crs_mob_menu_icon",
          "label": "Mobile Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "crs_mob_menu_wht_icon",
          "label": "Mobile Menu White Icon"
        },
		{
          "type": "header",
          "content": "GENERAL RADIOLOGY READING STATIONS"
        },
		{
          "type": "text",
          "id": "crs_radiology_title",
          "label": "Section Title"
        },
		{
          "type": "url",
          "id": "crs_radiology_url",
          "label": "Select Collection"
        },
		{
          "type": "header",
          "content": "MAMMOGRAPHY READING STATIONS"
        },
		{
          "type": "text",
          "id": "crs_mammography_title",
          "label": "Section Title"
        },
		{
          "type": "url",
          "id": "crs_mammography_url",
          "label": "Select Collection"
        },
		{ "type": "url", "id": "crs_view_all_link", "label": "View All URL" },
		{ "type": "text", "id": "crs_view_all_label", "label": "View All Text" },
		{
          "type": "paragraph",
		  "content": "SIDEBAR"
        },
		{
          "type": "image_picker",
          "id": "crs_left_img",
          "label": "Image"
        },
		{
          "type": "url",
          "id": "crs_left_img_url",
          "label": "Imge URL"
        },
		{
          "type": "text",
          "id": "crs_featured_products_title",
          "label": "Featured Products Title"
        },
        {
          "type": "product",
          "id": "crs_product1",
          "label": "Select Product"
        },
        {
          "type": "product",
          "id": "crs_product2",
          "label": "Select Product"
        },
		{
          "type": "article",
          "id": "crs_featured_article1",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "crs_featured_article2",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "crs_featured_article3",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "crs_featured_article4",
          "label": "Select Article"
        },
		{
          "type": "paragraph",
		  "content": "MOBILE CATEGORY SECTION"
        },
		{
          "type": "text",
          "id": "crs_cat_sec_title",
          "label": "Section Title"
        },
		{
          "type": "image_picker",
          "id": "crs_cat_img1",
          "label": "Icon"
        },
		{
          "type": "text",
          "id": "crs_cat_name1",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "crs_cat_url1",
          "label": "URL"
        },
		{
          "type": "image_picker",
          "id": "crs_cat_img2",
          "label": "Icon"
        },
		{
          "type": "text",
          "id": "crs_cat_name2",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "crs_cat_url2",
          "label": "URL"
        },
		{ "type": "text", "id": "crs_cat_viewall_label", "label": "View All Text" },
		{ "type": "url", "id": "crs_cat_viewall_link", "label": "View All URL" }
      ]
    },
	{
      "type": "graphic_menu",
      "name": "Graphic Cards Menu",
	  "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "ADD GRAPHIC CARDS MENU DATA HERE"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu title"
        },
		{
          "type": "url",
          "id": "gc_menu_link",
          "label": "Menu Link"
        },
        {
          "type": "image_picker",
          "id": "gc_menu_icon",
          "label": "Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "gc_menu_hover_icon",
          "label": "Menu Hover Icon"
        },
		{
          "type": "image_picker",
          "id": "gc_mob_menu_icon",
          "label": "Mobile Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "gc_mob_menu_wht_icon",
          "label": "Mobile Menu White Icon"
        },
		{
          "type": "paragraph",
          "content": "POPULAR BARCO GRAPHICS CARDS"
        },
		{
          "type": "text",
          "id": "barco_section_title",
          "label": "Section Title"
        },
		{
          "type": "url",
          "id": "barco_section_url",
          "label": "Select Collection"
        },
		{
          "type": "paragraph",
          "content": "POPULAR NVIDIA GRAPHICS CARDS"
        },
		{
          "type": "text",
          "id": "nvidia_section_title",
          "label": "Section Title"
        },
		{
          "type": "url",
          "id": "nvidia_section_url",
          "label": "Select Collection"
        },
		{
          "type": "paragraph",
          "content": "POPULAR AMD GRAPHICS CARDS"
        },
		{
          "type": "text",
          "id": "amd_section_title",
          "label": "Section Title"
        },
		{
          "type": "url",
          "id": "amd_section_url",
          "label": "Select Collection"
        },
		{ "type": "url", "id": "gc_view_all_link", "label": "View All URL" },
		{ "type": "text", "id": "gc_view_all_label", "label": "View All Text" },
		{
          "type": "paragraph",
		  "content": "SIDEBAR"
        },
		{
          "type": "image_picker",
          "id": "gc_left_img",
          "label": "Image"
        },
		{
          "type": "url",
          "id": "gc_left_img_url",
          "label": "Imge URL"
        },
		{
          "type": "text",
          "id": "gc_featured_products_title",
          "label": "Featured Section Title"
        },
		{
          "type": "product",
          "id": "gc_featured_product1",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "gc_featured_product2",
          "label": "Select Product"
        },
		{
          "type": "article",
          "id": "gc_featured_article1",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "gc_featured_article2",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "gc_featured_article3",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "gc_featured_article4",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "gc_featured_article5",
          "label": "Select Article"
        },
		{
          "type": "paragraph",
		  "content": "MOBILE FEATURED PRODUCTS"
        },
		{
          "type": "product",
          "id": "gc_featured_products1",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "gc_featured_products2",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "gc_featured_products3",
          "label": "Select Product"
        },
		{
          "type": "paragraph",
		  "content": "MOBILE CATEGORY SECTION"
        },
		{
          "type": "text",
          "id": "gc_cat_sec_title",
          "label": "Section Title"
        },
		{
          "type": "text",
          "id": "gc_cat_name1",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "gc_cat_url1",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "gc_cat_name2",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "gc_cat_url2",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "gc_cat_name3",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "gc_cat_url3",
          "label": "URL"
        },
		{
          "type": "text",
          "id": "gc_cat_name4",
          "label": "Name"
        },
		{
          "type": "url",
          "id": "gc_cat_url4",
          "label": "URL"
        },
		{ "type": "text", "id": "gc_cat_viewall_label", "label": "View All Text" },
		{ "type": "url", "id": "gc_cat_viewall_link", "label": "View All URL" }
      ]
    },
	{
      "type": "film_menu",
      "name": "Film Digitizers Menu",
	  "limit": 1,
      "settings": [
        {
          "type": "header",
          "content": "ADD FILM DIGITIZERS MENU DATA HERE"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu title"
        },
		{
          "type": "url",
          "id": "fd_menu_link",
          "label": "Menu Link"
        },
        {
          "type": "image_picker",
          "id": "fd_menu_icon",
          "label": "Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "fd_menu_hover_icon",
          "label": "Menu Hover Icon"
        },
		{
          "type": "image_picker",
          "id": "fd_mob_menu_icon",
          "label": "Mobile Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "fd_mob_menu_wht_icon",
          "label": "Mobile Menu White Icon"
        },
		{
          "type": "paragraph",
          "content": "COMPLETE DIGITIZER WORKSTATIONS"
        },
		{
          "type": "text",
          "id": "fd_digitizer_section_title",
          "label": "Section title"
        },
		{
          "type": "url",
          "id": "fd_digitizer_section_url",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "fd_digitizer1_image",
          "label": "Product Image"
        },
		{
          "type": "text",
          "id": "fd_digitizer1_title",
          "label": "Product Title"
        },
        {
          "type": "product",
          "id": "fd_digitizer_product1",
          "label": "Select product1"
        },
		{
          "type": "url",
          "id": "fd_digitizer1_url",
          "label": "Product URL"
        },
		{
          "type": "image_picker",
          "id": "fd_digitizer2_image",
          "label": "Product Image"
        },
		{
          "type": "text",
          "id": "fd_digitizer2_title",
          "label": "Product Title"
        },
        {
          "type": "product",
          "id": "fd_digitizer_product2",
          "label": "Select product2"
        },
		{
          "type": "url",
          "id": "fd_digitizer2_url",
          "label": "Product URL"
        },
		{
          "type": "image_picker",
          "id": "fd_digitizer3_image",
          "label": "Product Image"
        },
		{
          "type": "text",
          "id": "fd_digitizer3_title",
          "label": "Product Title"
        },
        {
          "type": "product",
          "id": "fd_digitizer_product3",
          "label": "Select product3"
        },
		{
          "type": "url",
          "id": "fd_digitizer3_url",
          "label": "Product URL"
        },
		{
          "type": "paragraph",
          "content": "STANDALONE SCANNERS"
        },
		{
          "type": "text",
          "id": "fd_standalone_section_title",
          "label": "Section title"
        },
		{
          "type": "url",
          "id": "fd_standalone_section_url",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "fd_standalone1_image",
          "label": "Product Image"
        },
		{
          "type": "text",
          "id": "fd_standalone1_title",
          "label": "Product Title"
        },
        {
          "type": "product",
          "id": "fd_standalone_product1",
          "label": "Select product1"
        },
		{
          "type": "url",
          "id": "fd_standalone1_url",
          "label": "Product URL"
        },
		{
          "type": "image_picker",
          "id": "fd_standalone2_image",
          "label": "Product Image"
        },
		{
          "type": "text",
          "id": "fd_standalone2_title",
          "label": "Product Title"
        },
        {
          "type": "product",
          "id": "fd_standalone_product2",
          "label": "Select product2"
        },
		{
          "type": "url",
          "id": "fd_standalone2_url",
          "label": "Product URL"
        },
		{
          "type": "image_picker",
          "id": "fd_standalone3_image",
          "label": "Product Image"
        },
		{
          "type": "text",
          "id": "fd_standalone3_title",
          "label": "Product Title"
        },
        {
          "type": "product",
          "id": "fd_standalone_product3",
          "label": "Select product3"
        },
		{
          "type": "url",
          "id": "fd_standalone3_url",
          "label": "Product URL"
        },
		{
          "type": "paragraph",
          "content": "SERVICE"
        },
		{
          "type": "text",
          "id": "fd_service_section_title",
          "label": "Section title"
        },
		{ "type": "text", "id": "service_label1", "label": "Service Label" },
		{ "type": "image_picker", "id": "service_icon1", "label": "Icon" },
		{ "type": "url", "id": "service_url1", "label": "Service URL" },
		{ "type": "text", "id": "service_label2", "label": "Service Label" },
		{ "type": "image_picker", "id": "service_icon2", "label": "Icon" },
		{ "type": "url", "id": "service_url2", "label": "Service URL" },
		{ "type": "text", "id": "fd_view_all_label", "label": "View All Text" },
		{ "type": "url", "id": "fd_view_all_link", "label": "View All URL" },
		{
          "type": "paragraph",
		  "content": "SIDEBAR"
        },
		{
          "type": "image_picker",
          "id": "fd_left_img",
          "label": "Image"
        },
		{
          "type": "url",
          "id": "fd_left_img_url",
          "label": "Imge URL"
        },
		{
          "type": "text",
          "id": "fd_featured_products_title",
          "label": "Featured Products Title"
        },
		{
          "type": "product",
          "id": "fd_featured_products1",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "fd_featured_products2",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "fd_featured_products3",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "fd_featured_products4",
          "label": "Select Product"
        },
		{
          "type": "article",
          "id": "fd_featured_article1",
          "label": "Select Article"
        }
      ]
    },
	{
      "type": "dictation_menu",
      "name": "Dictation Mics Menu",
	  "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "ADD DICTATION MICS MENU DATA HERE"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu title"
        },
		{
          "type": "url",
          "id": "dm_menu_link",
          "label": "Menu Link"
        },
        {
          "type": "image_picker",
          "id": "dm_menu_icon",
          "label": "Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "dm_menu_hover_icon",
          "label": "Menu Hover Icon"
        },
		{
          "type": "image_picker",
          "id": "dm_mob_menu_icon",
          "label": "Mobile Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "dm_mob_menu_wht_icon",
          "label": "Mobile Menu White Icon"
        },
		{
          "type": "paragraph",
          "content": "SHOP BY CATEGORIES SECTION"
        },
		{
          "type": "text",
          "id": "dm_section_title",
          "label": "Section title"
        },
        {
          "type": "image_picker",
          "id": "dm_cat_icon1",
          "label": "Category Icon 1"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_hover_icon1",
          "label": "Category Hover Icon 1"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_mob_icon1",
          "label": "Category Mobile Icon 1"
        },
		{
          "type": "text",
          "id": "dm_cat_label1",
          "label": "Category Text 1"
        },
		{
          "type": "text",
          "id": "dm_cat_pro_sec_label1",
          "label": "Product Section Label"
        },
		{
          "type": "url",
          "id": "dm_cat_url_collection1",
          "label": "Select Collection For Categories Link"
        },
		{
          "type": "url",
          "id": "dm_cat_url1",
          "label": "Select Collection For products"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_icon2",
          "label": "Category Icon 2"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_hover_icon2",
          "label": "Category Hover Icon 2"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_mob_icon2",
          "label": "Category Mobile Icon 2"
        },
		{
          "type": "text",
          "id": "dm_cat_label2",
          "label": "Category Text 2"
        },
		{
          "type": "text",
          "id": "dm_cat_pro_sec_label2",
          "label": "Product Section Label"
        },
		{
          "type": "url",
          "id": "dm_cat_url_collection2",
          "label": "Select Collection For Categories Link"
        },
		{
          "type": "url",
          "id": "dm_cat_url2",
          "label": "Select Collection For Products"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_icon3",
          "label": "Category Icon 3"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_hover_icon3",
          "label": "Category Hover Icon 3"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_mob_icon3",
          "label": "Category Mobile Icon 3"
        },
		{
          "type": "text",
          "id": "dm_cat_label3",
          "label": "Category Text 3"
        },
		{
          "type": "text",
          "id": "dm_cat_pro_sec_label3",
          "label": "Product Section Label"
        },
		{
          "type": "url",
          "id": "dm_cat_url_collection3",
          "label": "Select Collection For Categories Link"
        },
		{
          "type": "url",
          "id": "dm_cat_url3",
          "label": "Select Collection For Products"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_icon4",
          "label": "Category Icon 4"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_hover_icon4",
          "label": "Category Hover Icon 4"
        },
		{
          "type": "image_picker",
          "id": "dm_cat_mob_icon4",
          "label": "Category Mobile Icon 4"
        },
		{
          "type": "text",
          "id": "dm_cat_label4",
          "label": "Category Text 4"
        },
		{
          "type": "text",
          "id": "dm_cat_pro_sec_label4",
          "label": "Product Section Label"
        },
		{
          "type": "url",
          "id": "dm_cat_url_collection4",
          "label": "Select Collection For Categories Link"
        },
		{
          "type": "url",
          "id": "dm_cat_url4",
          "label": "Select Collection For products"
        },
		{ "type": "url", "id": "dm_view_all_link", "label": "View All URL" },
		{ "type": "text", "id": "dm_view_all_label", "label": "View All Text" },
		{
          "type": "paragraph",
		  "content": "SIDEBAR"
        },
		{
          "type": "image_picker",
          "id": "dm_left_img",
          "label": "Image"
        },
		{
          "type": "url",
          "id": "dm_left_img_url",
          "label": "Imge URL"
        },
		{
          "type": "text",
          "id": "dm_featured_products_title",
          "label": "Featured Section Title"
        },
		{
          "type": "article",
          "id": "dm_featured_article1",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "dm_featured_article2",
          "label": "Select Article"
        },
		{
          "type": "article",
          "id": "dm_featured_article3",
          "label": "Select Article"
        },
		{
          "type": "paragraph",
		  "content": "MOBILE FEATURED PRODUCTS"
        },
		{
          "type": "product",
          "id": "dm_featured_products1",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "dm_featured_products2",
          "label": "Select Product"
        }
      ]
    },
	{
      "type": "accessories_menu",
      "name": "Accessories Menu",
	  "limit": 1,
      "settings": [
        {
          "type": "paragraph",
          "content": "ADD ACCESSORIES MENU DATA HERE"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Menu title"
        },
		{
          "type": "url",
          "id": "ac_menu_link",
          "label": "Menu Link"
        },
        {
          "type": "image_picker",
          "id": "ac_menu_icon",
          "label": "Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "ac_menu_hover_icon",
          "label": "Menu Hover Icon"
        },
		{
          "type": "image_picker",
          "id": "ac_mob_menu_icon",
          "label": "Mobile Menu Icon"
        },
		{
          "type": "image_picker",
          "id": "ac_mob_menu_wht_icon",
          "label": "Mobile Menu White Icon"
        },
		{
          "type": "paragraph",
          "content": "SHOP BY CATEGORIES SECTION"
        },
		{
          "type": "text",
          "id": "ac_section_title",
          "label": "Section title"
        },
        {
          "type": "image_picker",
          "id": "ac_cat_icon1",
          "label": "Category Icon 1"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_mob_icon1",
          "label": "Category Mobile Icon 1"
        },
		{
          "type": "text",
          "id": "ac_cat_label1",
          "label": "Category Text 1"
        },
		{
          "type": "url",
          "id": "ac_cat_url1",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_icon2",
          "label": "Category Icon 2"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_mob_icon2",
          "label": "Category Mobile Icon 2"
        },
		{
          "type": "text",
          "id": "ac_cat_label2",
          "label": "Category Text 2"
        },
		{
          "type": "url",
          "id": "ac_cat_url2",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_icon3",
          "label": "Category Icon 3"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_mob_icon3",
          "label": "Category Mobile Icon 3"
        },
		{
          "type": "text",
          "id": "ac_cat_label3",
          "label": "Category Text 3"
        },
		{
          "type": "url",
          "id": "ac_cat_url3",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_icon4",
          "label": "Category Icon 4"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_mob_icon4",
          "label": "Category Mobile Icon 4"
        },
		{
          "type": "text",
          "id": "ac_cat_label4",
          "label": "Category Text 4"
        },
		{
          "type": "url",
          "id": "ac_cat_url4",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_icon5",
          "label": "Category Icon 5"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_mob_icon5",
          "label": "Category Mobile Icon 5"
        },
		{
          "type": "text",
          "id": "ac_cat_label5",
          "label": "Category Text 5"
        },
		{
          "type": "url",
          "id": "ac_cat_url5",
          "label": "Select Collection"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_icon6",
          "label": "Category Icon 6"
        },
		{
          "type": "image_picker",
          "id": "ac_cat_mob_icon6",
          "label": "Category Mobile Icon 6"
        },
		{
          "type": "text",
          "id": "ac_cat_label6",
          "label": "Category Text 6"
        },
		{
          "type": "url",
          "id": "ac_cat_url6",
          "label": "Select Collection"
        },
		{ "type": "url", "id": "ac_view_all_link", "label": "View All URL" },
		{ "type": "text", "id": "ac_view_all_label", "label": "View All Text" },
		{
          "type": "paragraph",
		  "content": "SIDEBAR"
        },
		{
          "type": "image_picker",
          "id": "ac_left_img",
          "label": "Image"
        },
		{
          "type": "url",
          "id": "ac_left_img_url",
          "label": "Imge URL"
        },
		{
          "type": "paragraph",
		  "content": "MOBILE FEATURED PRODUCTS"
        },
		{
          "type": "text",
          "id": "ac_feat_sec_title",
          "label": "Featured Section title"
        },
		{
          "type": "product",
          "id": "ac_featured_products1",
          "label": "Select Product"
        },
		{
          "type": "product",
          "id": "ac_featured_products2",
          "label": "Select Product"
        }
      ]
    }
  ]
}
{% endschema %}