<style>
  @media screen and (min-width: 1280px) {
    .custom-contact-container {
      padding-top: 35px;
      border-top: 1px solid #E3E3E3;
    }
  }
  @media screen and (min-width: 641px) {
    .custom-contact-section {
        margin: 35px 0 35px!important;
    }
}
</style>
{%- if section.settings.show_section -%}
  {% unless template contains 'register' or template contains 'new-addresses' or template contains 'edit-information' %}
    <section class="section static-section-icon {% if template contains 'contact'%}custom-contact-section{% endif %}" data-section-id="{{ section.id }}" data-section-type="text-with-icons">
      <div class="container container--flush">
        <div class="text-with-icons {% if template contains 'contact'%}custom-contact-container{% endif %} {% if section.settings.stack_mobile %}text-with-icons--stacked{% endif %}">
          {%- for block in section.blocks -%}
            <div class="text-with-icons__item" data-block-index="{{ forloop.index0 }}" {{ block.shopify_attributes }}>
              <div class="text-with-icons__icon-wrapper">
                {%- if block.settings.custom_icon != blank -%}
                  {% comment %} <img src="{{ block.settings.custom_icon | img_url: '60x' }}" alt="{{ block.settings.custom_icon.alt | escape }}"> {% endcomment %}

                  {%- capture supported_sizes -%}{%- render 'image-size', sizes: '300,400,500,600,700,800,900,1000,1100,1200', image: block.settings.custom_icon -%}{%- endcapture -%}
                  <img
                    class="lazyload"
                    loading="lazy"
                    src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                    data-sizes="auto"
                    data-widths="[{{ supported_sizes }}]"
                    data-src="{{ block.settings.custom_icon | img_url: '60x' }}"
                    alt="{{ block.settings.custom_icon.alt | escape }}"
                  >
                {%- else -%}
                  {%- render 'icon', icon: block.settings.icon, stroke_width: 1.5 -%}
                {%- endif -%}
              </div>

              {%- if block.settings.title != blank or block.settings.content != blank -%}
                <div class="text-with-icons__content-wrapper">
                  {%- if block.settings.title != blank -%}
                    <p class="text-with-icons__title text--strong">{{ block.settings.title | escape }}</p>
                  {%- endif -%}

                  {%- if block.settings.content != blank -%}
                    <div class="text-with-icons__content rte">
                      {{ block.settings.content }}
                      <a href="{{ block.settings.buttonlink }}">{{ block.settings.buttontext }}</a>
                    </div>
                  {%- endif -%}
                </div>
              {%- endif -%}
            </div>
          {%- endfor -%}
        </div>
      </div>
    </section>
  {% endunless %}
{%- endif -%}

{% schema %}
{
  "name": "Text with icons",
  "max_blocks": 4,
  "settings": [
    {
      "type": "checkbox",
      "id": "show_section",
      "label": "Show section",
      "default": true
    },
    {
      "type": "checkbox",
      "id": "stack_mobile",
      "label": "Stack on mobile",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "item",
      "name": "Item",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "Icon",
          "options": [
            {
              "value": "bi-add-to-cart",
              "label": "Add to cart",
              "group": "Shop"
            },
            {
              "value": "bi-gift-wrap",
              "label": "Gift wrap",
              "group": "Shop"
            },
            {
              "value": "bi-gift-box",
              "label": "Gift box",
              "group": "Shop"
            },
            {
              "value": "bi-heart",
              "label": "Heart",
              "group": "Shop"
            },
            {
              "value": "bi-ecology",
              "label": "Ecology",
              "group": "Shop"
            },
            {
              "value": "bi-plant",
              "label": "Plant",
              "group": "Shop"
            },
            {
              "value": "bi-shop",
              "label": "Shop",
              "group": "Shop"
            },
            {
              "value": "bi-shop-pin",
              "label": "Shop with pin",
              "group": "Shop"
            },
            {
              "value": "bi-alert",
              "label": "Alert",
              "group": "Communication"
            },
            {
              "value": "bi-chat",
              "label": "Chat",
              "group": "Communication"
            },
            {
              "value": "bi-comment",
              "label": "Comment",
              "group": "Communication"
            },
            {
              "value": "bi-customer-support",
              "label": "Customer support",
              "group": "Communication"
            },
            {
              "value": "bi-email",
              "label": "Email",
              "group": "Communication"
            },
            {
              "value": "bi-network",
              "label": "Network",
              "group": "Communication"
            },
            {
              "value": "bi-newsletter",
              "label": "Newsletter",
              "group": "Communication"
            },
            {
              "value": "bi-love",
              "label": "Love",
              "group": "Communication"
            },
            {
              "value": "bi-phone",
              "label": "Phone",
              "group": "Communication"
            },
            {
              "value": "bi-share",
              "label": "Share",
              "group": "Communication"
            },
            {
              "value": "bi-delivery",
              "label": "Delivery",
              "group": "Delivery"
            },
            {
              "value": "bi-fast-delivery",
              "label": "Fast delivery",
              "group": "Delivery"
            },
            {
              "value": "bi-returns",
              "label": "Returns",
              "group": "Delivery"
            },
            {
              "value": "bi-time",
              "label": "Time",
              "group": "Delivery"
            },
            {
              "value": "bi-secure-payment",
              "label": "Secure payment",
              "group": "Security"
            },
            {
              "value": "bi-mobile-payment",
              "label": "Mobile payment",
              "group": "Security"
            },
            {
              "value": "bi-computer-payment",
              "label": "Computer payment",
              "group": "Security"
            },
            {
              "value": "bi-credit-card",
              "label": "Credit card",
              "group": "Security"
            },
            {
              "value": "bi-shield",
              "label": "Shield",
              "group": "Security"
            }
          ],
          "default": "bi-customer-support"
        },
        {
          "type": "image_picker",
          "id": "custom_icon",
          "label": "Custom icon",
          "info": "60 x 60px .png with transparency recommended"
        },
        {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Your title"
        },
        {
          "type": "richtext",
          "id": "content",
          "label": "Content",
          "default": "<p>Short content about your store</p>"
        },
  		  {
          "type": "text",
          "id": "buttontext",
          "label": "Button Text",
		      "default": "Your title"
        },
		    {
          "type": "url",
          "id": "buttonlink",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Text",
      "name": "Static Text with Icons",
      "blocks": [
        {
          "type": "item",
          "settings": {
            "icon": "bi-delivery",
            "title": "Free delivery worldwide"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon": "bi-returns",
            "title": "Satisfied or refunded"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon": "bi-customer-support",
            "title": "Top-notch support"
          }
        },
        {
          "type": "item",
          "settings": {
            "icon": "bi-secure-payment",
            "title": "Secure payments"
          }
        }
      ]
    }
  ]
}
{% endschema %}
